Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

let Test.yml print the last commit-hashes of cloned packages in ci-tests
  .github/workflows/Tests.yml
Due: none

add FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  Notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

fix some typos
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

remove old examples from HomotopyCategories & add a notebook
  HomotopyCategories/examples/experiments/0.g
  HomotopyCategories/examples/experiments/1.g
  HomotopyCategories/examples/experiments/2.g
  HomotopyCategories/examples/homotopy_category_of_category_of_rows.g
  HomotopyCategories/examples/homotopy_category_of_freyd_category_over_Z.g
  HomotopyCategories/examples/homotopy_category_of_graded_rows.g
  HomotopyCategories/examples/homotopy_category_of_quiver_representations.g
  HomotopyCategories/examples/homotopy_category_over_Z.g
  HomotopyCategories/examples/notebooks/.ipynb_checkpoints/strong_exceptional_sequence_in_homotopy_category_of_k_rows-checkpoint.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
  HomotopyCategories/examples/run_all_examples.g
  HomotopyCategories/examples/triangulated_axioms_in_homotopy_category.g
Due: HomotopyCategories

remove the mistakenly added .ipynb_checkpoints from HomotopyCategories/examples
  HomotopyCategories/examples/notebooks/.ipynb_checkpoints/strong_exceptional_sequence_in_homotopy_category_of_k_rows-checkpoint.ipynb
Due: HomotopyCategories

move ZFunctions from Complexes to ToolsForHigherHomologicalAlgebra
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/init.g
  ComplexesCategories/read.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/ZFunctions.gd
  ToolsForHigherHomologicalAlgebra/gap/ZFunctions.gi
  ToolsForHigherHomologicalAlgebra/init.g
  ToolsForHigherHomologicalAlgebra/read.g
Due: ComplexesCategories, ToolsForHigherHomologicalAlgebra

compute projective and injective resolutions of cells in an abelian category
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

remove types and representations of complexes and complexes morphisms
  ComplexesCategories/gap/ComplexMorphisms.gi
  ComplexesCategories/gap/Complexes.gi
Due: ComplexesCategories

IsChainOrCochainComplexCategory -> IsComplexesCategory
  ComplexesCategories/gap/Categories.gd
  ComplexesCategories/gap/Categories.gi
  ComplexesCategories/gap/ComplexMorphisms.gd
  ComplexesCategories/gap/ComplexMorphisms.gi
  ComplexesCategories/gap/Complexes.gd
  ComplexesCategories/gap/Complexes.gi
  ComplexesCategories/gap/Functors.gi
  ComplexesCategories/gap/Julia.gi
  ComplexesCategories/gap/NaturalTransformations.gd
  ComplexesCategories/gap/NaturalTransformations.gi
Due: ComplexesCategories

include ImageObject in CAP_INTERNAL_METHOD_NAME_LIST_FOR_COCHAIN_COMPLEXES_CATEGORY
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

remove Derivations.gi
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Derivations.gi
Due: ComplexesCategories

comply with ComplexesCategories v2022.12.04
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/DerivedMethods.gi
  HomotopyCategories/gap/TriangulatedStructure.gi
  HomotopyCategories/gap/_Functors.gi
Due: HomotopyCategories

add notebook to ComplexesCategories
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
Due: ComplexesCategories

Complexes.gi/d -> Objects.gi/d & ComplexMorphisms.gi/d -> Morphisms.gi/d
  ComplexesCategories/gap/Morphisms.gd
  ComplexesCategories/gap/Morphisms.gi
  ComplexesCategories/gap/Objects.gd
  ComplexesCategories/gap/Objects.gi
  ComplexesCategories/init.g
  ComplexesCategories/read.g
Due: ComplexesCategories

Update website for ComplexesCategories 2022.12-04
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1.txt
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chap3.html
  ComplexesCategories/doc/chap3.txt
  ComplexesCategories/doc/chap3_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd.txt
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for HomotopyCategories 2022.12-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.12-05
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap1.html
  ToolsForHigherHomologicalAlgebra/doc/chap1_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap2.html
  ToolsForHigherHomologicalAlgebra/doc/chap2_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap3.html
  ToolsForHigherHomologicalAlgebra/doc/chap3.txt
  ToolsForHigherHomologicalAlgebra/doc/chap3_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chapInd.html
  ToolsForHigherHomologicalAlgebra/doc/chapInd.txt
  ToolsForHigherHomologicalAlgebra/doc/chapInd_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

closes #117
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/gap/Objects.gi
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2022.12-05
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Document ComplexesCategories
  ComplexesCategories/doc/Doc.autodoc
  ComplexesCategories/gap/Categories.gd
  ComplexesCategories/gap/Functors.gd
  ComplexesCategories/gap/Morphisms.gd
  ComplexesCategories/gap/NaturalTransformations.gd
  ComplexesCategories/gap/Objects.gd
Due: ComplexesCategories

d&i InclusionFunctorIntoComplexesCategoryByC(oc)hains
  ComplexesCategories/gap/Functors.gd
  ComplexesCategories/gap/Functors.gi
Due: ComplexesCategories

use S, datum, R rather than S, R, datum in CreateComplexMorphism
  ComplexesCategories/gap/Functors.gi
  ComplexesCategories/gap/HomStructure.gi
  ComplexesCategories/gap/Morphisms.gi
  ComplexesCategories/gap/Objects.gi
  ComplexesCategories/gap/Resolutions.gi
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
Due: ComplexesCategories

comply with ComplexesCategories 2022.12-04
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/HomStructure.gi
  HomotopyCategories/gap/Julia.gi
  HomotopyCategories/gap/Morphisms.gi
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: HomotopyCategories

add notebook PreSheaves.ipynb to ComplexesCategories
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
Due: ComplexesCategories

add notebook FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
Due: ComplexesCategories

Update website for HomotopyCategories 2022.12-03
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

load FreydCategoriesForCAP before FunctorCategories in DerivedCategories/tst/100_LoadPackage.tst
  DerivedCategories/tst/100_LoadPackage.tst
Due: DerivedCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/121
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/MethodRecord.gi
Due: ComplexesCategories, QuotientCategories, TriangulatedCategories

Update website for ComplexesCategories 2023.01-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1.txt
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2.txt
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd.txt
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for QuotientCategories 2023.01-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Update website for TriangulatedCategories 2023.01-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

set UnderlyingCategory of complexes category by chains
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

add a method to create complex in complexes category by chains
  ComplexesCategories/gap/Objects.gd
  ComplexesCategories/gap/Objects.gi
Due: ComplexesCategories

improve latex output methods for complexes
  ComplexesCategories/gap/Objects.gi
Due: ComplexesCategories

add more test files to complexes categories
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_random_methods_category_of_rows.tst
Due: ComplexesCategories

add notebooks/.gitignore
  ComplexesCategories/examples/notebooks/.gitignore
  HomotopyCategories/examples/notebooks/.gitignore
Due: ComplexesCategories, HomotopyCategories

fix ExtendNaturalTransformationToComplexesCategories
  ComplexesCategories/gap/NaturalTransformations.gi
Due: ComplexesCategories

add examples/notebooks/README.md in ComplexesCategories
  ComplexesCategories/examples/notebooks/README.md
Due: ComplexesCategories

Import IsQuasiIsomorphism for HomotopyCategories
  HomotopyCategories/gap/Morphisms.gi
Due: HomotopyCategories

deactivate Caching of InclusionFunctor( seq )
  HomotopyCategories/gap/StrongExceptionalSequences.gi
Due: HomotopyCategories
