Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

load packages in the test files
  Bicomplexes/tst/total-complex-left-presentations.tst
  Bicomplexes/tst/total-complex-of-bicomplex-morphism-using-algebroids.tst
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_random_methods_category_of_rows.tst
  HomotopyCategories/tst/TiltingEquivalence.tst
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: Bicomplexes, ComplexesCategories, HomotopyCategories

SetIsEquippedWithHomomorphismStructure in derived categories
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/DerivedCategories.gi
Due: DerivedCategories

Update website for DerivedCategories 2025.06-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  DerivedCategories/doc/chapInd.html
  DerivedCategories/doc/chapInd_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Experiment to see if providing a CODECOV_TOKEN speed up the uploading process to codecov
  .github/workflows/Tests.yml
  dev/upload_codecov.sh
Due: none

require GAP 4.13
  StableCategories/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
Due: StableCategories, ToolsForHigherHomologicalAlgebra

use FinQuivers in TriangulatedCategories
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/examples/BeilinsonQuiver.tst
  TriangulatedCategories/examples/doc/BeilinsonQuiver.g
  TriangulatedCategories/examples/test_triangulated_structure_homotopy_category.g
  TriangulatedCategories/tst/100_LoadPackage.tst
  TriangulatedCategories/tst/test_triangulated_structure_homotopy_category.tst
Due: TriangulatedCategories

use FinQuivers in ComplexesCategories
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/examples/notebooks/README.md
  ComplexesCategories/makefile
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
Due: ComplexesCategories

use FinQuivers in Bicomplexes
  Bicomplexes/PackageInfo.g
  Bicomplexes/tst/total-complex-of-bicomplex-morphism-using-algebroids.tst
Due: Bicomplexes

update Tests.yml
  .github/workflows/Tests.yml
  dev/ci_gaprc
  dev/release-gap-package
Due: none

use FinQuivers in HomotopyCategories
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfFreydCategory.g
  HomotopyCategories/examples/StrongExceptionalCollection.g
  HomotopyCategories/examples/notebooks/README.md
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
  HomotopyCategories/gap/OnlyWithFunctorCategories.gi
  HomotopyCategories/makedoc.g
  HomotopyCategories/makefile
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: HomotopyCategories

use FinQuivers in DerivedCategories
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/README.md
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/makefile
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
Due: DerivedCategories

Update website for Bicomplexes 2025.07-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  Bicomplexes/doc/chap1.html
  Bicomplexes/doc/chap1_mj.html
  Bicomplexes/doc/chapInd.html
  Bicomplexes/doc/chapInd_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

Update website for ComplexesCategories 2025.07-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for HomotopyCategories 2025.07-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap1.html
  HomotopyCategories/doc/chap1_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  HomotopyCategories/doc/chapInd.html
  HomotopyCategories/doc/chapInd_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for TriangulatedCategories 2025.07-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Comply with FreydCategoriesForCAP v2025.08-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

add examples to homotopy categories
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfFreydCategories.g
  HomotopyCategories/examples/HomotopyCategoryOfLeftPresentations.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
  HomotopyCategories/tst/TiltingEquivalence.tst
Due: HomotopyCategories

Update website for DerivedCategories 2025.08-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2025.08-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Disable GAP banners when testing Notebooks
  .github/workflows/Tests.yml
Due: none

Comply with QuotientCategories 2025.08-03
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/HomStructure.gi
  HomotopyCategories/gap/Morphisms.gi
  HomotopyCategories/gap/Objects.gi
  HomotopyCategories/gap/TriangulatedStructure.gi
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/examples/test_triangulated_structure_homotopy_category.g
  TriangulatedCategories/tst/test_triangulated_structure_homotopy_category.tst
Due: HomotopyCategories, TriangulatedCategories

Update website for HomotopyCategories 2025.08-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for TriangulatedCategories 2025.08-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

remove mybinder links
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

comply with FpCategories and v2025.09-01 and Algebroids v2025.09-05
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
  HomotopyCategories/examples/StrongExceptionalCollection.g
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2025.09-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2025.09-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2025.09-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

comply with FpCategories v2025.09-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

Update website for ComplexesCategories 2025.09-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2025.09-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

clone FpLinearCategories in ci-tests
  .github/workflows/Tests.yml
Due: none

update notebooks to julia 1.12
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2025.10-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2025.10-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2025.10-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

rm AutoDoc from Tests.yml
  .github/workflows/Tests.yml
Due: none

resolves #203
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

Update website for ComplexesCategories 2025.12-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2025.12-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories
