Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Visualize abstraction algebroid of a strong exceptional sequence
  DerivedCategories/gap/Julia.gi
Due: DerivedCategories

Remove obsolete occurrences of ReadPackage
  BBGG/PackageInfo.g
  BBGG/read.g
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/init.g
  ComplexesCategories/read.g
  DerivedCategories/PackageInfo.g
  DerivedCategories/init.g
  DerivedCategories/read.g
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/init.g
Due: BBGG, ComplexesCategories, DerivedCategories, TriangulatedCategories

Update website for BBGG 2022.08-01
  BBGG/PackageInfo.g
  BBGG/README.md
  BBGG/doc/chap0.html
  BBGG/doc/chap0.txt
  BBGG/doc/chap0_mj.html
  BBGG/doc/manual.js
  _data/BBGG.yml
Due: BBGG

Update website for ComplexesCategories 2022.08-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chap3.html
  ComplexesCategories/doc/chap3_mj.html
  ComplexesCategories/doc/chap7.html
  ComplexesCategories/doc/chap7_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd_mj.html
  ComplexesCategories/doc/manual.js
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2022.08-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  DerivedCategories/doc/chap1.html
  DerivedCategories/doc/chap1_mj.html
  DerivedCategories/doc/chapInd.html
  DerivedCategories/doc/chapInd_mj.html
  DerivedCategories/doc/manual.js
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for TriangulatedCategories 2022.08-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/README.md
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap1.html
  TriangulatedCategories/doc/chap1_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd_mj.html
  TriangulatedCategories/doc/manual.js
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/984
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/Convenience.gi
  DerivedCategories/gap/DerivedCategories.gi
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/HomotopyCategoryMorphisms.gi
  HomotopyCategories/gap/HomotopyCategoryObjects.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategoriesMorphisms.gi
  QuotientCategories/gap/QuotientCategoriesObjects.gi
  StableCategories/PackageInfo.g
  StableCategories/gap/StableCategories.gi
Due: ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/984 again
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
Due: DerivedCategories

Update website for ComplexesCategories 2022.08-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2022.08-03
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2022.08-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/manual.js
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for QuotientCategories 2022.08-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/manual.js
  _data/QuotientCategories.yml
Due: QuotientCategories

Update website for StableCategories 2022.08-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/manual.js
  _data/StableCategories.yml
Due: StableCategories

Apply PackageJanitor
  .codecov.yml
  .github/workflows/Tests.yml
  BBGG/README.md
  BBGG/makefile
  BBGG/tst/testall.g
  Bicomplexes/README.md
  Bicomplexes/makefile
  Bicomplexes/tst/testall.g
  ComplexesCategories/README.md
  ComplexesCategories/makefile
  ComplexesCategories/tst/testall.g
  DerivedCategories/README.md
  DerivedCategories/makefile
  DerivedCategories/tst/testall.g
  HomotopyCategories/README.md
  HomotopyCategories/makefile
  HomotopyCategories/tst/testall.g
  QuotientCategories/README.md
  QuotientCategories/makefile
  QuotientCategories/tst/testall.g
  README.md
  StableCategories/README.md
  StableCategories/makefile
  StableCategories/tst/testall.g
  ToolsForHigherHomologicalAlgebra/README.md
  ToolsForHigherHomologicalAlgebra/makefile
  ToolsForHigherHomologicalAlgebra/tst/testall.g
  TriangulatedCategories/README.md
  TriangulatedCategories/makefile
  TriangulatedCategories/tst/testall.g
  process_coverage.py
  release-gap-package
  upload_codecov.sh
Due: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

comply with FunctorCategories v2022.08-06
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Update website for DerivedCategories 2022.08-04
  DerivedCategories/PackageInfo.g
  DerivedCategories/README.md
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Fix numerous preconditions of derivations
  ComplexesCategories/gap/Derivations.gi
  HomotopyCategories/gap/DerivedMethods.gi
  StableCategories/gap/DerivedMethodsForFrobeniusCategories.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
  TriangulatedCategories/gap/DerivedMethods.gi
  TriangulatedCategories/gap/TriangulatedCategories.gi
Due: ComplexesCategories, HomotopyCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Replace "witness for" by "witness of"
  ComplexesCategories/gap/Derivations.gi
Due: ComplexesCategories

Bump versions
  ComplexesCategories/PackageInfo.g
  HomotopyCategories/PackageInfo.g
  StableCategories/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  TriangulatedCategories/PackageInfo.g
Due: ComplexesCategories, HomotopyCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Remove Project.toml
  Project.toml
Due: none

Update website for ComplexesCategories 2022.08-03
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/README.md
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for HomotopyCategories 2022.08-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/README.md
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for StableCategories 2022.08-02
  StableCategories/PackageInfo.g
  StableCategories/README.md
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  _data/StableCategories.yml
Due: StableCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.08-02
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/README.md
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  ToolsForHigherHomologicalAlgebra/doc/manual.js
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Update website for TriangulatedCategories 2022.08-02
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/README.md
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Remove derivations relying on the old behavior of Lift and Colift
  HomotopyCategories/gap/DerivedMethods.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
Due: HomotopyCategories, StableCategories

Fix preconditions of two final derivations
  StableCategories/gap/DerivedMethodsForFrobeniusCategories.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
Due: StableCategories

Specify range category of homomorphism structure in preconditions of derivations
  ComplexesCategories/gap/Derivations.gi
Due: ComplexesCategories

Bump versions
  ComplexesCategories/PackageInfo.g
  HomotopyCategories/PackageInfo.g
  StableCategories/PackageInfo.g
Due: ComplexesCategories, HomotopyCategories, StableCategories

Remove now obsolete ConditionsListComplete
  ComplexesCategories/gap/Derivations.gi
  StableCategories/gap/DerivedMethodsForFrobeniusCategories.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
Due: ComplexesCategories, StableCategories

Update website for ComplexesCategories 2022.09-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for HomotopyCategories 2022.09-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for StableCategories 2022.09-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  _data/StableCategories.yml
Due: StableCategories

Avoid `CanCompute` in category filters of derivations
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Derivations.gi
Due: ComplexesCategories

Update website for ComplexesCategories 2022.09-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Allow to execute tst file separate from testall.g
  DerivedCategories/PackageInfo.g
  DerivedCategories/tst/P2.tst
Due: DerivedCategories

remove redundant derivations
  TriangulatedCategories/gap/DerivedMethods.gi
Due: TriangulatedCategories

Bump version of TriangulatedCategories
  TriangulatedCategories/PackageInfo.g
Due: TriangulatedCategories

Update Notebooks
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Require FunctorCategories 2022.09-10 for DerivedCategories
  DerivedCategories/PackageInfo.g
Due: DerivedCategories

Path conditions:
  BBGG: any of: BBGG/, but not: home/
  Bicomplexes: any of: Bicomplexes/, but not: home/
  ComplexesCategories: any of: ComplexesCategories/, but not: home/
  DerivedCategories: any of: DerivedCategories/, but not: home/
  HomotopyCategories: any of: HomotopyCategories/, but not: home/
  QuotientCategories: any of: QuotientCategories/, but not: home/
  StableCategories: any of: StableCategories/, but not: home/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/, but not: home/
  TriangulatedCategories: any of: TriangulatedCategories/, but not: home/
