Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Use CreateCapCategory with four arguments
  DgComplexesCategories/PackageInfo.g
  DgComplexesCategories/gap/Categories.gi
Due: none

adjust output
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

install '/' methods for quotient categories
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: QuotientCategories

Update website for QuotientCategories 2023.03-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Add explicit preconditions to two final derivations
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/DerivedMethods.gi
Due: TriangulatedCategories

Update website for TriangulatedCategories 2023.03-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Pass description as argument to (final) derivations
  StableCategories/PackageInfo.g
  StableCategories/gap/DerivedMethodsForFrobeniusCategories.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/DerivedMethods.gi
Due: StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Update website for StableCategories 2023.03-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap1.html
  StableCategories/doc/chap1.txt
  StableCategories/doc/chap1_mj.html
  StableCategories/doc/chap2.html
  StableCategories/doc/chap2.txt
  StableCategories/doc/chap2_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3.txt
  StableCategories/doc/chap3_mj.html
  StableCategories/doc/chapInd.html
  StableCategories/doc/chapInd.txt
  StableCategories/doc/chapInd_mj.html
  _data/StableCategories.yml
Due: StableCategories

Update website for ToolsForHigherHomologicalAlgebra 2023.03-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Update website for TriangulatedCategories 2023.03-02
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/1296
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/MethodRecord.autogen.gd
  TriangulatedCategories/gap/MethodRecord.gi
Due: TriangulatedCategories

Update website for TriangulatedCategories 2023.04-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap3.html
  TriangulatedCategories/doc/chap3.txt
  TriangulatedCategories/doc/chap3_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

add "\." method to quotient categroies & bump version of QuotientCategories to v2023.04.01
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: QuotientCategories

Update website for QuotientCategories 2023.04-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Apply PackageJanitor
  .github/workflows/Tests.yml
  BBGG/PackageInfo.g
  BBGG/README.md
  Bicomplexes/PackageInfo.g
  Bicomplexes/README.md
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/README.md
  DerivedCategories/PackageInfo.g
  DerivedCategories/README.md
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/README.md
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  README.md
  StableCategories/PackageInfo.g
  StableCategories/README.md
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/README.md
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/README.md
  dev/.release
  dev/make_dist.sh
  dev/release-gap-package
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Use "list_of_objects"
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/MethodRecord.gi
Due: TriangulatedCategories

Update website for TriangulatedCategories 2023.04-02
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/README.md
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Handle the case "pair_of_morphisms"
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

Update website for ComplexesCategories 2023.05-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/README.md
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Use ReinterpretationOfCategory
  Bicomplexes/PackageInfo.g
  Bicomplexes/gap/Bicomplexes.gi
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
Due: Bicomplexes, ComplexesCategories

Use ReinterpretationOfObject/Morphism
  Bicomplexes/PackageInfo.g
  Bicomplexes/gap/Morphisms.gi
  Bicomplexes/gap/Objects.gi
  Bicomplexes/tst/total-complex-left-presentations.tst
Due: Bicomplexes

Update website for Bicomplexes 2023.05-02
  Bicomplexes/PackageInfo.g
  Bicomplexes/README.md
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

Update website for ComplexesCategories 2023.05-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

start using AlgebroidsFromDataTables in some tests
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: ComplexesCategories, HomotopyCategories

apply PackageJanitor
  .github/workflows/Tests.yml
Due: none

construct complexes categories as tower of categories
  Bicomplexes/PackageInfo.g
  Bicomplexes/gap/Bicomplexes.gi
  Bicomplexes/gap/TotalComplex.gi
  Bicomplexes/tst/total-complex-of-bicomplex-morphism-using-algebroids.tst
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/gap/Categories.gd
  ComplexesCategories/gap/Categories.gi
  ComplexesCategories/gap/Functors.gi
  ComplexesCategories/gap/HomStructure.gi
  ComplexesCategories/gap/Morphisms.gd
  ComplexesCategories/gap/Morphisms.gi
  ComplexesCategories/gap/Objects.gd
  ComplexesCategories/gap/Objects.gi
  ComplexesCategories/gap/Resolutions.gi
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_random_methods_category_of_rows.tst
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
  HomotopyCategories/gap/Convolution.gi
  HomotopyCategories/tst/TiltingEquivalence.tst
  TriangulatedCategories/examples/BeilinsonQuiver.tst
Due: Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, TriangulatedCategories

Update website for Bicomplexes 2023.06-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

Update website for ComplexesCategories 2023.06-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1.txt
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd.txt
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for HomotopyCategories 2023.06-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/README.md
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

added locales to the list of needed packages for ComplexesCategories und bump version to 2023.06-02
  .github/workflows/Tests.yml
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/gap/Categories.gi
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

Update website for ComplexesCategories 2023.06-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/1365
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

Revert "added locales to the list of needed packages for ComplexesCategories und bump version to 2023.06-02"
  .github/workflows/Tests.yml
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

Update website for ComplexesCategories 2023.06-03
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

comply with https://github.com/homalg-project/CAP_project/pull/1379
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/gap/Categories.gi
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

Update website for ComplexesCategories 2023.07-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Objectify -> CreateCapCategory*
  StableCategories/gap/FrobeniusCategories.gi
  TriangulatedCategories/gap/CategoryOfTriangles.gi
Due: StableCategories, TriangulatedCategories

comply with https://github.com/homalg-project/CategoricalTowers/pull/290
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

Update website for ComplexesCategories 2023.07-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Category as first argument for CategoryOfTriangles
  TriangulatedCategories/gap/CategoryOfTriangles.gi
Due: TriangulatedCategories

Path conditions:
  BBGG: any of: BBGG/
  Bicomplexes: any of: Bicomplexes/
  ComplexesCategories: any of: ComplexesCategories/
  DerivedCategories: any of: DerivedCategories/
  HomotopyCategories: any of: HomotopyCategories/
  QuotientCategories: any of: QuotientCategories/
  StableCategories: any of: StableCategories/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/
  TriangulatedCategories: any of: TriangulatedCategories/
