Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

Limit CI matrix to GAP-Docker image
  .github/workflows/Tests.yml
Due: none

comply with AutoDoc v2025.12.19
  .github/workflows/Tests.yml
  Bicomplexes/PackageInfo.g
  Bicomplexes/makedoc.g
  Bicomplexes/makedoc_with_overfull_hbox_warnings.g
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/makedoc.g
  ComplexesCategories/makedoc_with_overfull_hbox_warnings.g
  DerivedCategories/PackageInfo.g
  DerivedCategories/makedoc.g
  DerivedCategories/makedoc_with_overfull_hbox_warnings.g
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/makedoc.g
  HomotopyCategories/makedoc_with_overfull_hbox_warnings.g
  StableCategories/PackageInfo.g
  StableCategories/makedoc.g
  StableCategories/makedoc_with_overfull_hbox_warnings.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/makedoc.g
  ToolsForHigherHomologicalAlgebra/makedoc_with_overfull_hbox_warnings.g
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/makedoc.g
  TriangulatedCategories/makedoc_with_overfull_hbox_warnings.g
  TriangulatedCategories/tst/100_LoadPackage.tst
  dev/.release
Due: Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Update website for Bicomplexes 2025.12-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

Update website for ComplexesCategories 2025.12-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2025.12-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

applied PackageJanitor
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/makedoc.g
  HomotopyCategories/makedoc_with_overfull_hbox_warnings.g
Due: HomotopyCategories

Update website for HomotopyCategories 2025.12-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for StableCategories 2025.12-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap1.html
  StableCategories/doc/chap1.txt
  StableCategories/doc/chap1_mj.html
  _data/StableCategories.yml
Due: StableCategories

Update website for ToolsForHigherHomologicalAlgebra 2025.12-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Update website for TriangulatedCategories 2025.12-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Comply with CAP v2026.02-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2026.02-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.02-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.02-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Split Codecov upload into dedicated workflow
  .github/workflows/Codecov.yml
  .github/workflows/Tests.yml
  dev/upload_codecov.sh
Due: none

Fix Codecov upload paths and add codecov.yml symlink
  .github/workflows/Codecov.yml
  codecov.yml
Due: none

Remove codecov.yml symlink
  codecov.yml
Due: none

Skip Codecov upload on scheduled runs
  .github/workflows/Codecov.yml
Due: none

Temporarily change CI cron to 09:35 UTC
  .github/workflows/Tests.yml
Due: none

Revert "Temporarily change CI cron to 09:35 UTC"
  .github/workflows/Tests.yml
Due: none

apply package janitor
  .github/workflows/Codecov.yml
  .github/workflows/Tests.yml
  Bicomplexes/makefile
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
  StableCategories/makefile
  ToolsForHigherHomologicalAlgebra/makefile
  TriangulatedCategories/makefile
  dev/upload_codecov.sh
Due: Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

comply with new homalg_project and CAP_project: support semirings
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gi
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/gap/DerivedCategories.gi
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
  StableCategories/PackageInfo.g
  StableCategories/examples/doc/CategoryOfArrows-0.g
  StableCategories/examples/doc/verbatims/_CategoryOfArrows.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ComplexesCategories, DerivedCategories, HomotopyCategories, StableCategories, ToolsForHigherHomologicalAlgebra

Update website for ComplexesCategories 2026.04-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1.txt
  ComplexesCategories/doc/chap1_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.04-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.04-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for StableCategories 2026.04-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap1.html
  StableCategories/doc/chap1.txt
  StableCategories/doc/chap1_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3.txt
  StableCategories/doc/chap3_mj.html
  StableCategories/doc/chap4.html
  StableCategories/doc/chap4.txt
  StableCategories/doc/chap4_mj.html
  _data/StableCategories.yml
Due: StableCategories

Update website for ToolsForHigherHomologicalAlgebra 2026.04-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Apply PackageJanitor
  .github/workflows/Tests.yml
  Bicomplexes/makefile
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
  StableCategories/makefile
  ToolsForHigherHomologicalAlgebra/makefile
  TriangulatedCategories/makefile
Due: Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

debugging env variables
  .github/workflows/Codecov.yml
  dev/upload_codecov.sh
Due: none

Apply PackageJanitor
  .github/workflows/Codecov.yml
  dev/upload_codecov.sh
Due: none

Add SliceCategories to CI workflow dependencies
  .github/workflows/Tests.yml
Due: none

resolves https://github.com/homalg-project/HigherHomologicalAlgebra/issues/212
  Bicomplexes/doc/Bicomplexes.bbl
  Bicomplexes/doc/chooser.html
  Bicomplexes/doc/lefttoc.css
  Bicomplexes/doc/nocolorprompt.css
  Bicomplexes/doc/ragged.css
  Bicomplexes/doc/rainbow.js
  Bicomplexes/doc/times.css
  Bicomplexes/doc/toggless.css
  Bicomplexes/doc/toggless.js
Due: Bicomplexes

ViewObj/Display -> View/DisplayString
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Morphisms.gi
  ComplexesCategories/gap/Objects.gi
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/Morphisms.gi
  DerivedCategories/gap/Objects.gi
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/Morphisms.gi
  HomotopyCategories/gap/Objects.gi
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2026.04-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.04-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.04-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories
