Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

comply with CAP v2023.12-09 and PreSheaves v2023.12-04
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

made happel-theorem-in-copresheaves.tst standalone-executable
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
Due: DerivedCategories

comply with FpCategories v2023.12-04
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Update website for ComplexesCategories 2023.12-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2023.12-04
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

apply package janitor
  .github/workflows/Tests.yml
  dev/.release
Due: none

deprecate and remove BBGG from the mono-repo
  BBGG/.gitignore
  BBGG/LICENSE
  BBGG/PackageInfo.g
  BBGG/README.md
  BBGG/doc/Doc.autodoc
  BBGG/doc/clean
  BBGG/examples/P2.g
  BBGG/gap/BBGG.gd
  BBGG/gap/BBGG.gi
  BBGG/gap/Beilinson.gd
  BBGG/gap/Beilinson.gi
  BBGG/gap/CoherentSheavesOverProjectiveSpace.gd
  BBGG/gap/CoherentSheavesOverProjectiveSpace.gi
  BBGG/gap/InterfaceWithHomalg.gd
  BBGG/gap/InterfaceWithHomalg.gi
  BBGG/gap/PrepareCategories.gd
  BBGG/gap/PrepareCategories.gi
  BBGG/init.g
  BBGG/makedoc.g
  BBGG/makedoc_with_overfull_hbox_warnings.g
  BBGG/makefile
  BBGG/read.g
  BBGG/tst/100_LoadPackage.tst
  BBGG/tst/testall.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: BBGG

comply with MonoidalCategories v2024.01-06 and
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

comply with MonoidalCategories v2024.02-02
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

update number of primitive operations
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

temporarily use a docker container with a stable Julia
  .github/workflows/Tests.yml
Due: none

Revert "temporarily use a docker container with a stable Julia"
  .github/workflows/Tests.yml
Due: none

Apply PackageJanitor
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
  makefile
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

update notebooks
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

make update-notebooks
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

disable testing notebooks
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

add options to control scale, width and height when compiling a latex-string to pdf
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/LaTeX.gi
Due: ToolsForHigherHomologicalAlgebra

Update website for ToolsForHigherHomologicalAlgebra 2024.06-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap1.html
  ToolsForHigherHomologicalAlgebra/doc/chap1_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap2.html
  ToolsForHigherHomologicalAlgebra/doc/chap2_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chapInd.html
  ToolsForHigherHomologicalAlgebra/doc/chapInd_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

adjust notebooks
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Use MatrixCategory instead of MATRIX_CATEGORY
  DgComplexesCategories/PackageInfo.g
  DgComplexesCategories/examples/PrecompileCategoryOfDgComplexesOfAdditiveClosureOfAlgebroid.g
Due: none

comply with https://github.com/homalg-project/CAP_project/pull/1647
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
Due: ComplexesCategories

change the return type of WitnessIsomorphismFrom/OntoStandardConeObject
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/DerivedMethods.gi
  TriangulatedCategories/gap/MethodRecord.gi
Due: TriangulatedCategories

Update website for TriangulatedCategories 2024.09-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap1.html
  TriangulatedCategories/doc/chap1_mj.html
  TriangulatedCategories/doc/chap2.html
  TriangulatedCategories/doc/chap2_mj.html
  TriangulatedCategories/doc/chap3.html
  TriangulatedCategories/doc/chap3_mj.html
  TriangulatedCategories/doc/chap4.html
  TriangulatedCategories/doc/chap4_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

restore the old test-line after https://github.com/homalg-project/CAP_project/pull/1671
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
Due: ComplexesCategories

Adjust to CAP 2024.09-08
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/MethodRecord.autogen.gd
Due: TriangulatedCategories

Update website for TriangulatedCategories 2024.09-02
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap3.html
  TriangulatedCategories/doc/chap3.txt
  TriangulatedCategories/doc/chap3_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd.txt
  TriangulatedCategories/doc/chapInd_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Adjust to CAP 2024.09-12
  StableCategories/PackageInfo.g
  StableCategories/gap/FrobeniusCategories.gi
  StableCategories/gap/StableCategories.gi
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/MethodRecord.gi
  TriangulatedCategories/gap/MethodRecordDeclarations.autogen.gd
  TriangulatedCategories/gap/MethodRecordInstallations.autogen.gi
  TriangulatedCategories/init.g
  TriangulatedCategories/read.g
Due: StableCategories, TriangulatedCategories

Update website for StableCategories 2024.09-01
  StableCategories/PackageInfo.g
  StableCategories/README.md
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap1.html
  StableCategories/doc/chap1_mj.html
  StableCategories/doc/chap2.html
  StableCategories/doc/chap2_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3_mj.html
  StableCategories/doc/chap4.html
  StableCategories/doc/chap4_mj.html
  StableCategories/doc/chapInd.html
  StableCategories/doc/chapInd_mj.html
  _data/StableCategories.yml
Due: StableCategories

Update website for TriangulatedCategories 2024.09-03
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap3.html
  TriangulatedCategories/doc/chap3.txt
  TriangulatedCategories/doc/chap3_mj.html
  TriangulatedCategories/doc/chap4.html
  TriangulatedCategories/doc/chap4.txt
  TriangulatedCategories/doc/chap4_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd.txt
  TriangulatedCategories/doc/chapInd_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

comply with https://github.com/homalg-project/CAP_project/pull/1701
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/HomStructure.gi
  ComplexesCategories/gap/Objects.gi
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

Update website for ComplexesCategories 2024.11-15
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

drop the AutoDoc dependency
  ComplexesCategories/PackageInfo.g
  DgComplexesCategories/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
Due: ComplexesCategories, ToolsForHigherHomologicalAlgebra

Update website for ComplexesCategories 2024.11-16
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for ToolsForHigherHomologicalAlgebra 2024.11-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

comply with SubcategoriesForCAP v2025.02-06
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/StrongExceptionalSequences.gi
Due: HomotopyCategories

Update website for HomotopyCategories 2025.02-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap1.html
  HomotopyCategories/doc/chap1_mj.html
  HomotopyCategories/doc/chapInd.html
  HomotopyCategories/doc/chapInd_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

comply with QuotientCategories v2025.03-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/Categories.gd
  HomotopyCategories/gap/Categories.gi
  HomotopyCategories/gap/Morphisms.gd
  HomotopyCategories/gap/Objects.gd
  StableCategories/PackageInfo.g
  StableCategories/gap/StableCategories.gd
Due: HomotopyCategories, StableCategories

Update website for HomotopyCategories 2025.03-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for StableCategories 2025.03-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3_mj.html
  StableCategories/doc/chapInd.html
  StableCategories/doc/chapInd.txt
  StableCategories/doc/chapInd_mj.html
  _data/StableCategories.yml
Due: StableCategories
