Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Remove IsEqualForCache*
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/gap/Categories.gi
  TriangulatedCategories/gap/CategoryOfTriangles.gi
Due: ComplexesCategories, TriangulatedCategories

Replace io_types by input_arguments_names etc.
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/MethodRecord.gi
Due: TriangulatedCategories

Update website for TriangulatedCategories 2023.07-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

comply with homalg-project/CategoricalTowers#320
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

comply with CAP V2023.08.07
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

comply with CAP V2023.08-09
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/gap/Categories.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: ComplexesCategories, QuotientCategories

Update website for ComplexesCategories 2023.08-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for QuotientCategories 2023.08-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

ZZ -> zz as ZZ is now occupied by StandardFF
  Bicomplexes/examples/doc/LeftPresentations.g
  Bicomplexes/tst/total-complex-left-presentations.tst
  QuotientCategories/examples/doc/quotient_by_projectives.g
  QuotientCategories/examples/left_presentations_over_Z.g
  QuotientCategories/gap/QuotientCategories.gi
  StableCategories/examples/doc/Freyd_Z.g
Due: Bicomplexes, QuotientCategories, StableCategories

temporarily disabled testing julia-notebooks
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

suggest cloning CategoricalTowers meta-repo
  README.md
Due: none

apply PackageJanitor
  .github/workflows/Tests.yml
Due: none

append -manual.pdf to links
  update.g
Due: none

bump all releases
  Bicomplexes/PackageInfo.g
  ComplexesCategories/PackageInfo.g
  DerivedCategories/PackageInfo.g
  HomotopyCategories/PackageInfo.g
  QuotientCategories/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  TriangulatedCategories/PackageInfo.g
Due: Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Update website for Bicomplexes 2023.09-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

Update website for ComplexesCategories 2023.09-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2023.09-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/README.md
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2023.09-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for QuotientCategories 2023.09-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Update website for ToolsForHigherHomologicalAlgebra 2023.09-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/README.md
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Update website for TriangulatedCategories 2023.09-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

outsourced QuotientCategories to CategoricalTowers
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/_data/package.yml
  QuotientCategories/badge_date.json
  QuotientCategories/badge_version.json
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chapInd.html
  QuotientCategories/doc/chapInd.txt
  QuotientCategories/doc/chapInd_mj.html
  QuotientCategories/doc/chooser.html
  QuotientCategories/doc/lefttoc.css
  QuotientCategories/doc/manual.css
  QuotientCategories/doc/manual.js
  QuotientCategories/doc/nocolorprompt.css
  QuotientCategories/doc/ragged.css
  QuotientCategories/doc/rainbow.js
  QuotientCategories/doc/times.css
  QuotientCategories/doc/toggless.css
  QuotientCategories/doc/toggless.js
  QuotientCategories/download_pdf.html
  QuotientCategories/index.md
  QuotientCategories/view_release.html
  _config.yml
  _data/QuotientCategories.yml
  _data/packages.yml
Due: QuotientCategories

outsourced QuotientCategories to CategoricalTowers
  .github/workflows/Tests.yml
  QuotientCategories/.gitignore
  QuotientCategories/LICENSE
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/doc/Doc.autodoc
  QuotientCategories/doc/clean
  QuotientCategories/examples/doc/quotient_by_projectives.g
  QuotientCategories/examples/left_presentations_over_Z.g
  QuotientCategories/gap/QuotientCategories.gd
  QuotientCategories/gap/QuotientCategories.gi
  QuotientCategories/init.g
  QuotientCategories/makedoc.g
  QuotientCategories/makedoc_with_overfull_hbox_warnings.g
  QuotientCategories/makefile
  QuotientCategories/read.g
  QuotientCategories/tst/100_LoadPackage.tst
  QuotientCategories/tst/testall.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: QuotientCategories

apply package janitor to
  .github/workflows/Tests.yml
  Bicomplexes/PackageInfo.g
  Bicomplexes/tst/100_LoadPackage.tst
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/tst/100_LoadPackage.tst
  DerivedCategories/PackageInfo.g
  DerivedCategories/tst/100_LoadPackage.tst
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/tst/100_LoadPackage.tst
  ToolsForHigherHomologicalAlgebra/tst/100_LoadPackage.tst
  dev/release-gap-package
Due: Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, ToolsForHigherHomologicalAlgebra

reactivate testing notebooks
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  ComplexesCategories/makefile
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/makefile
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
  HomotopyCategories/makefile
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

remove Notebooks folder as its examples are covered by other tested notebooks
  Notebooks/Project.toml
  Notebooks/README.md
  Notebooks/Squar/TiltingequivalenceAsDerivedFunctors.ipynb
  Notebooks/Squar/quiver-2.svg
  Notebooks/Squar/quiver-2.tex
  Notebooks/Squar/quiver1-f.svg
  Notebooks/Squar/quiver1.tex
  Notebooks/Squar/quiver2.tex
  Notebooks/Squar/quiver3-f.svg
  Notebooks/Squar/quiver3.tex
  Notebooks/Squar/quiver4-f.svg
  Notebooks/Squar/quiver4.tex
  Notebooks/Squar/quiver5-f.svg
  Notebooks/Squar/quiver5.tex
  Notebooks/Squar/quiver6-f.svg
  Notebooks/Squar/quiver6.tex
  Notebooks/Squar/quiver7-f.svg
  Notebooks/Squar/quiver7.tex
Due: none

Update website for Bicomplexes 2023.11-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

Update website for ComplexesCategories 2023.11-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2023.11-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2023.11-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Use PreSheavesWithBounds in ComplexesCategories and bump versions
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Categories.gd
  ComplexesCategories/gap/Categories.gi
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2023.11-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2023.11-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2023.11-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Start using FpCategories infrastructure
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/gap/OnlyWithFunctorCategories.gi
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
  HomotopyCategories/tst/TiltingEquivalence.tst
Due: DerivedCategories, HomotopyCategories

Update website for DerivedCategories 2023.12-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2023.12-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

comply with CAP
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: ComplexesCategories, DerivedCategories

Update website for ComplexesCategories 2023.12-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2023.12-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Path conditions:
  BBGG: any of: BBGG/
  Bicomplexes: any of: Bicomplexes/
  ComplexesCategories: any of: ComplexesCategories/
  DerivedCategories: any of: DerivedCategories/
  HomotopyCategories: any of: HomotopyCategories/
  QuotientCategories: any of: QuotientCategories/
  StableCategories: any of: StableCategories/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/
  TriangulatedCategories: any of: TriangulatedCategories/
