Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Apply PackageJanitor
  .github/workflows/Tests.yml
Due: none

Adjust to https://github.com/homalg-project/FunctorCategories/commit/305f57cec90de4cdfde137cde097e1c0117bd4cb
  StableCategories/PackageInfo.g
  StableCategories/examples/doc/CategoryOfArrows-2.g
Due: StableCategories

EmbeddingFunctorIntoDerivedCategory -> EquivalenceOntoDerivedCategory(OfQuiverRepresentations)
  DerivedCategories/examples/TiltingEquivalence2.g
  DerivedCategories/examples/experiments/twist_functor.g
  DerivedCategories/examples/julia/P2.g
  DerivedCategories/examples/julia/TiltingEquivalence.jl
  HomotopyCategories/examples/triangulated_axioms_in_homotopy_category.g
  Notebooks/TiltingEquivalence.ipynb
  TriangulatedCategories/examples/doc/BeilinsonQuiver.g
Due: DerivedCategories, HomotopyCategories, TriangulatedCategories

Update website for StableCategories 2022.05-01
  StableCategories/PackageInfo.g
  StableCategories/README.md
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap1.html
  StableCategories/doc/chap1.txt
  StableCategories/doc/chap1_mj.html
  StableCategories/doc/chap2.html
  StableCategories/doc/chap2.txt
  StableCategories/doc/chap2_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3.txt
  StableCategories/doc/chap3_mj.html
  _data/StableCategories.yml
Due: StableCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/906
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Derivations.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ComplexesCategories, QuotientCategories, ToolsForHigherHomologicalAlgebra

Update website for ComplexesCategories 2022.05-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/README.md
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1.txt
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2.txt
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chap3.html
  ComplexesCategories/doc/chap3.txt
  ComplexesCategories/doc/chap3_mj.html
  ComplexesCategories/doc/chap7.html
  ComplexesCategories/doc/chap7.txt
  ComplexesCategories/doc/chap7_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for QuotientCategories 2022.05-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chap1.html
  QuotientCategories/doc/chap1.txt
  QuotientCategories/doc/chap1_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.05-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/README.md
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

comply with FunctorCategories v2022.05-08
  StableCategories/PackageInfo.g
  StableCategories/examples/doc/CategoryOfArrows-0.g
  StableCategories/examples/doc/CategoryOfArrows-1.g
  StableCategories/examples/doc/CategoryOfArrows-2.g
Due: StableCategories

Update website for StableCategories 2022.05-02
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap2.html
  StableCategories/doc/chap2.txt
  StableCategories/doc/chap2_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3.txt
  StableCategories/doc/chap3_mj.html
  _data/StableCategories.yml
Due: StableCategories

Add Notebook TiltingEquivalence
  DerivedCategories/examples/notebooks/.gitignore
  DerivedCategories/examples/notebooks/README.md
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/makefile
Due: DerivedCategories

Remove colors from SetSpecialSettings()
  ToolsForHigherHomologicalAlgebra/gap/CAP.gi
Due: ToolsForHigherHomologicalAlgebra

end -> End
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/ExceptionalCollection.gi
Due: DerivedCategories

Update the notebook TiltingEquivalences
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/examples/notebooks/svg/TiltingEquivalences_svg.ipynb
  DerivedCategories/examples/notebooks/svg/abstraction-algebroid.svg
  DerivedCategories/examples/notebooks/svg/beilinson_quiver.svg
  DerivedCategories/examples/notebooks/svg/omega_22_11_00.svg
Due: DerivedCategories

Read EnhancePackages.g* before CAP.g*
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/init.g
  ToolsForHigherHomologicalAlgebra/read.g
Due: ToolsForHigherHomologicalAlgebra

Update website for DerivedCategories 2022.06-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/README.md
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.06-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Move old files in DerivedCategories/examples to lab
  DerivedCategories/examples/lab/P1.g
  DerivedCategories/examples/lab/P1xP2.g
  DerivedCategories/examples/lab/P2.g
  DerivedCategories/examples/lab/TiltingEquivalence2.g
  DerivedCategories/examples/lab/convolution/clean_pre_functions.g
  DerivedCategories/examples/lab/convolution/example_1.g
  DerivedCategories/examples/lab/convolution/example_2.g
  DerivedCategories/examples/lab/convolution/example_3.g
  DerivedCategories/examples/lab/convolution/one_grid.g
  DerivedCategories/examples/lab/convolution/pre_functions.g
  DerivedCategories/examples/lab/convolution/temp.g
  DerivedCategories/examples/lab/experiments/abelian_vs_homotopy.g
  DerivedCategories/examples/lab/experiments/e.g
  DerivedCategories/examples/lab/experiments/full_strong_excep_collec_in_homotopy_of_algebroid_P2.g
  DerivedCategories/examples/lab/experiments/mapping_cone_non_functorial.g
  DerivedCategories/examples/lab/experiments/pre_compose_in_derived_cats.g
  DerivedCategories/examples/lab/experiments/search_for_counter_example.g
  DerivedCategories/examples/lab/experiments/tensor_product_of_algebroids.g
  DerivedCategories/examples/lab/experiments/twist_functor.g
  DerivedCategories/examples/lab/full_strong_excep_collec_in_abelian_category_P2.g
  DerivedCategories/examples/lab/julia/P2.g
  DerivedCategories/examples/lab/julia/TiltingEquivalence.jl
  DerivedCategories/examples/lab/localisation_functor.g
  DerivedCategories/examples/lab/pre_settings.g
Due: DerivedCategories

Remove DerivedCategories/examples/lab
  DerivedCategories/examples/lab/P1.g
  DerivedCategories/examples/lab/P1xP2.g
  DerivedCategories/examples/lab/P2.g
  DerivedCategories/examples/lab/TiltingEquivalence2.g
  DerivedCategories/examples/lab/convolution/clean_pre_functions.g
  DerivedCategories/examples/lab/convolution/example_1.g
  DerivedCategories/examples/lab/convolution/example_2.g
  DerivedCategories/examples/lab/convolution/example_3.g
  DerivedCategories/examples/lab/convolution/one_grid.g
  DerivedCategories/examples/lab/convolution/pre_functions.g
  DerivedCategories/examples/lab/convolution/temp.g
  DerivedCategories/examples/lab/experiments/abelian_vs_homotopy.g
  DerivedCategories/examples/lab/experiments/e.g
  DerivedCategories/examples/lab/experiments/full_strong_excep_collec_in_homotopy_of_algebroid_P2.g
  DerivedCategories/examples/lab/experiments/mapping_cone_non_functorial.g
  DerivedCategories/examples/lab/experiments/pre_compose_in_derived_cats.g
  DerivedCategories/examples/lab/experiments/search_for_counter_example.g
  DerivedCategories/examples/lab/experiments/tensor_product_of_algebroids.g
  DerivedCategories/examples/lab/experiments/twist_functor.g
  DerivedCategories/examples/lab/full_strong_excep_collec_in_abelian_category_P2.g
  DerivedCategories/examples/lab/julia/P2.g
  DerivedCategories/examples/lab/julia/TiltingEquivalence.jl
  DerivedCategories/examples/lab/localisation_functor.g
  DerivedCategories/examples/lab/pre_settings.g
Due: DerivedCategories

Fix graph and rename some variables
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Comply with FunctorCategories 2022.06-26
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/NaturalTransformations.gi
Due: DerivedCategories

Fix the diagram of the Beilinson quiver
  DerivedCategories/examples/notebooks/svg/TiltingEquivalences_svg.ipynb
  DerivedCategories/examples/notebooks/svg/beilinson_quiver.svg
Due: DerivedCategories

Comply with https://github.com/homalg-project/homalg_project/actions/runs/2575941686
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/ChainMaps.gd
  ComplexesCategories/gap/ChainMaps.gi
  ComplexesCategories/gap/Complexes.gd
  ComplexesCategories/gap/Complexes.gi
  ComplexesCategories/tst/vector_spaces.tst
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/examples/notebooks/svg/TiltingEquivalences_svg.ipynb
  DerivedCategories/examples/notebooks/svg/omega_22_11_00.svg
  DerivedCategories/gap/DerivedCategories.gi
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/HomotopyCategoryMorphisms.gd
  HomotopyCategories/gap/HomotopyCategoryMorphisms.gi
  HomotopyCategories/gap/ImportedMethods.gi
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gd
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/LaTeX.gi
  ToolsForHigherHomologicalAlgebra/gap/LinearAlgebraForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/LinearAlgebraForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/ModulePresentationsForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/ModulePresentationsForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/SubcategoriesForCAP.gi
Due: ComplexesCategories, DerivedCategories, HomotopyCategories, ToolsForHigherHomologicalAlgebra

Add notebook to Happel Theorem
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
Due: DerivedCategories

Remove LaTeXOutput for LinearAlgebraForCAP from ToolsForHigherHomologicalAlgebra
  ToolsForHigherHomologicalAlgebra/gap/LinearAlgebraForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

Add some Displays instead of Show in HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
Due: DerivedCategories

Add some Displays instead of Show in TiltingEquivalences.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Update website for ComplexesCategories 2022.06-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2022.06-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2022.06-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/README.md
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.06-02
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Do some cleaning in Tools
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/GradedModulePresentationsForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/ModulePresentationsForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

Compute the inverse of a morphism in derived categories
  DerivedCategories/gap/DerivedCategories.gi
Due: DerivedCategories

Add notebook to finitely generated abelian groups
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

Use PrintFormattedString instead of Print to prevent line break with CapAndHomalg.jl v.1.4.5
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ToolsForHigherHomologicalAlgebra

bumped version
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
Due: ToolsForHigherHomologicalAlgebra

comply with CAP v2022.08-04
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Update website for DerivedCategories 2022.08-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.08-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Simplify computing the exceptional replacement and bump version of DerivedCategories
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/ExceptionalReplacement.gi
Due: DerivedCategories

Path conditions:
  BBGG: any of: BBGG/, but not: home/
  Bicomplexes: any of: Bicomplexes/, but not: home/
  ComplexesCategories: any of: ComplexesCategories/, but not: home/
  DerivedCategories: any of: DerivedCategories/, but not: home/
  HomotopyCategories: any of: HomotopyCategories/, but not: home/
  QuotientCategories: any of: QuotientCategories/, but not: home/
  StableCategories: any of: StableCategories/, but not: home/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/, but not: home/
  TriangulatedCategories: any of: TriangulatedCategories/, but not: home/
