Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

d&i AdditiveFunctorByTwoFunctionsData
  ToolsForHigherHomologicalAlgebra/gap/Functors.gd
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ToolsForHigherHomologicalAlgebra

comply with CategoryConstructor v2022.11-10
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: QuotientCategories

Update website for QuotientCategories 2022.11-02
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Comply with CAP v2022.11-26
  HomotopyCategories/gap/DerivedMethods.gi
Due: HomotopyCategories

Allow to pass values_on_objects as option in AdditiveFunctorByTwoFunctionsData
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ToolsForHigherHomologicalAlgebra

Update website for ToolsForHigherHomologicalAlgebra 2022.12-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

BBGG
  BBGG/init.g
  BBGG/read.g
Due: BBGG

refactor ToolsForHigherHomologicalAlgebra
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ToolsForHigherHomologicalAlgebra

Bicomplexes
  Bicomplexes/init.g
  Bicomplexes/read.g
Due: Bicomplexes

StableCategories
  StableCategories/examples/random_methods_for_categories_of_quiver_reps.g
  StableCategories/examples/stable_category_of_quivers_by_projectives_and_injectives.g
  StableCategories/gap/FrobeniusCategories.gd
  StableCategories/gap/StableCategories.gd
  StableCategories/init.g
  StableCategories/read.g
  StableCategories/tst/100_LoadPackage.tst
Due: StableCategories

update .gitignore
  .gitignore
Due: none

Add DgComplexesCategories
  DgComplexesCategories/PackageInfo.g
  DgComplexesCategories/doc/Doc.autodoc
  DgComplexesCategories/doc/clean
  DgComplexesCategories/examples/PrecompileCategoryOfDgComplexesOfAdditiveClosureOfAlgebroid.g
  DgComplexesCategories/examples/matrix_category.g
  DgComplexesCategories/gap/Categories.gd
  DgComplexesCategories/gap/Categories.gi
  DgComplexesCategories/gap/ChainMaps.gd
  DgComplexesCategories/gap/ChainMaps.gi
  DgComplexesCategories/gap/CompilerLogic.gi
  DgComplexesCategories/gap/Complexes.gd
  DgComplexesCategories/gap/Complexes.gi
  DgComplexesCategories/gap/DesignDgComplexesCategory.gi
  DgComplexesCategories/gap/DgComplexesOfAdditiveClosureOfAlgebroid.gd
  DgComplexesCategories/gap/DgComplexesOfAdditiveClosureOfAlgebroid.gi
  DgComplexesCategories/gap/HomStructure.gd
  DgComplexesCategories/gap/HomStructure.gi
  DgComplexesCategories/gap/precompiled_categories/CategoryOfDgComplexesOfAdditiveClosureOfAlgebroidPrecompiled.gi
  DgComplexesCategories/init.g
  DgComplexesCategories/makedoc.g
  DgComplexesCategories/read.g
Due: none

refactor QuotientCategories
  QuotientCategories/gap/QuotientCategories.gd
  QuotientCategories/gap/QuotientCategories.gi
  QuotientCategories/gap/QuotientCategoriesMorphisms.gd
  QuotientCategories/gap/QuotientCategoriesMorphisms.gi
  QuotientCategories/gap/QuotientCategoriesObjects.gd
  QuotientCategories/gap/QuotientCategoriesObjects.gi
  QuotientCategories/init.g
  QuotientCategories/read.g
  QuotientCategories/tst/quotient_of_abelian_groups_by_projective.tst
Due: QuotientCategories

refactor TriangulatedCategories
  TriangulatedCategories/LogicForTriangulatedCategories/PredicateImplicationsForTriangulatedCategories.tex
  TriangulatedCategories/gap/CategoryOfTriangles.gd
  TriangulatedCategories/gap/CategoryOfTriangles.gi
  TriangulatedCategories/gap/DerivedMethods.gi
  TriangulatedCategories/gap/Functors.gd
  TriangulatedCategories/gap/Functors.gi
  TriangulatedCategories/gap/MethodRecord.autogen.gd
  TriangulatedCategories/gap/MethodRecord.gd
  TriangulatedCategories/gap/MethodRecord.gi
  TriangulatedCategories/gap/TriangulatedCategories.gd
  TriangulatedCategories/init.g
  TriangulatedCategories/read.g
  TriangulatedCategories/tst/050_LoadPackage.tst
  TriangulatedCategories/tst/100_LoadPackage.tst
Due: TriangulatedCategories

refactor DerivedCategories
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/gap/DerivedCategories.gd
  DerivedCategories/gap/DerivedCategories.gi
  DerivedCategories/gap/ExceptionalCollection.gd
  DerivedCategories/gap/ExceptionalCollection.gi
  DerivedCategories/gap/ExceptionalReplacement.gd
  DerivedCategories/gap/ExceptionalReplacement.gi
  DerivedCategories/gap/Functors.gd
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/Hom.gd
  DerivedCategories/gap/Hom.gi
  DerivedCategories/gap/ImportedMethods.gi
  DerivedCategories/gap/Julia.gd
  DerivedCategories/gap/Julia.gi
  DerivedCategories/gap/Morphisms.gd
  DerivedCategories/gap/Morphisms.gi
  DerivedCategories/gap/NaturalTransformations.gd
  DerivedCategories/gap/NaturalTransformations.gi
  DerivedCategories/gap/Objects.gd
  DerivedCategories/gap/Objects.gi
  DerivedCategories/gap/OnlyWithFunctorCategories.gd
  DerivedCategories/gap/OnlyWithFunctorCategories.gi
  DerivedCategories/gap/Tensor.gd
  DerivedCategories/gap/Tensor.gi
  DerivedCategories/gap/_DerivedCategories.gd
  DerivedCategories/gap/_DerivedCategories.gi
  DerivedCategories/gap/tmp
  DerivedCategories/init.g
  DerivedCategories/makefile
  DerivedCategories/read.g
  DerivedCategories/tst/100_LoadPackage.tst
  DerivedCategories/tst/P2.tst
  DerivedCategories/tst/algebroids.tst
  DerivedCategories/tst/derived_category_of_freyd_of_Qxyzt.tst
Due: DerivedCategories

refactor Notebooks
  Notebooks/FinitelyGeneratedAbelianGroups.ipynb
  Notebooks/TiltingEquivalence.ipynb
Due: none

bump versions to v2022.12.01
  ComplexesCategories/PackageInfo.g
  DerivedCategories/PackageInfo.g
  DgComplexesCategories/PackageInfo.g
  HomotopyCategories/PackageInfo.g
  QuotientCategories/PackageInfo.g
  TriangulatedCategories/PackageInfo.g
Due: ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, TriangulatedCategories

Update website for ComplexesCategories 2022.12-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1.txt
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2.txt
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chap3.html
  ComplexesCategories/doc/chap3.txt
  ComplexesCategories/doc/chap3_mj.html
  ComplexesCategories/doc/chap4.html
  ComplexesCategories/doc/chap4.txt
  ComplexesCategories/doc/chap4_mj.html
  ComplexesCategories/doc/chap5.html
  ComplexesCategories/doc/chap5.txt
  ComplexesCategories/doc/chap5_mj.html
  ComplexesCategories/doc/chap6.html
  ComplexesCategories/doc/chap6_mj.html
  ComplexesCategories/doc/chap7.html
  ComplexesCategories/doc/chap7.txt
  ComplexesCategories/doc/chap7_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd.txt
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2022.12-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  DerivedCategories/doc/chap1.html
  DerivedCategories/doc/chap1.txt
  DerivedCategories/doc/chap1_mj.html
  DerivedCategories/doc/chap2.html
  DerivedCategories/doc/chap2.txt
  DerivedCategories/doc/chap2_mj.html
  DerivedCategories/doc/chap3.html
  DerivedCategories/doc/chap3.txt
  DerivedCategories/doc/chap3_mj.html
  DerivedCategories/doc/chapInd.html
  DerivedCategories/doc/chapInd.txt
  DerivedCategories/doc/chapInd_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2022.12-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for QuotientCategories 2022.12-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chap1.html
  QuotientCategories/doc/chap1.txt
  QuotientCategories/doc/chap1_mj.html
  QuotientCategories/doc/chap2.html
  QuotientCategories/doc/chap2.txt
  QuotientCategories/doc/chap2_mj.html
  QuotientCategories/doc/chapInd.html
  QuotientCategories/doc/chapInd.txt
  QuotientCategories/doc/chapInd_mj.html
  _data/QuotientCategories.yml
Due: QuotientCategories

Update website for TriangulatedCategories 2022.12-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap1.html
  TriangulatedCategories/doc/chap1.txt
  TriangulatedCategories/doc/chap1_mj.html
  TriangulatedCategories/doc/chap2.html
  TriangulatedCategories/doc/chap2.txt
  TriangulatedCategories/doc/chap2_mj.html
  TriangulatedCategories/doc/chap3.html
  TriangulatedCategories/doc/chap3.txt
  TriangulatedCategories/doc/chap3_mj.html
  TriangulatedCategories/doc/chap4.html
  TriangulatedCategories/doc/chap4.txt
  TriangulatedCategories/doc/chap4_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd.txt
  TriangulatedCategories/doc/chapInd_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

add TiltingEquivalence notebook
  DerivedCategories/examples/TiltingEquivalence.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/examples/notebooks/svg/TiltingEquivalences_svg.ipynb
  DerivedCategories/examples/notebooks/svg/abstraction-algebroid.svg
  DerivedCategories/examples/notebooks/svg/beilinson_quiver.svg
  DerivedCategories/examples/notebooks/svg/omega_22_11_00.svg
  DerivedCategories/makefile
  Notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

include the derivations of Lift/Colift using Hom-Structure
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/DerivedMethods.gi
  ToolsForHigherHomologicalAlgebra/read.g
Due: ToolsForHigherHomologicalAlgebra

Update website for ToolsForHigherHomologicalAlgebra 2022.12-02
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

uncomment test-basic-spacing in ComplexesCategories
  ComplexesCategories/makefile
Due: ComplexesCategories

remove old files from ComplexesCategories
  ComplexesCategories/gap/_Categories.gi
  ComplexesCategories/gap/_ChainMaps.gd
  ComplexesCategories/gap/_ChainMaps.gi
  ComplexesCategories/gap/_Complexes.gd
  ComplexesCategories/gap/_Complexes.gi
  ComplexesCategories/gap/_Functors.gd
  ComplexesCategories/gap/_Functors.gi
  ComplexesCategories/gap/_Resolutions.gd
  ComplexesCategories/gap/_Resolutions.gi
Due: ComplexesCategories

d&i InstallOtherMethod_for_julia which is similar to what mohamed did in CAP_project, PR #1189
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/JuliaInterface.gd
  ToolsForHigherHomologicalAlgebra/gap/JuliaInterface.gi
Due: ToolsForHigherHomologicalAlgebra

install other method, \/, to create objects in ComplexesCategories
  ComplexesCategories/gap/Complexes.gi
Due: ComplexesCategories

use InstallOtherMethod_for_julia to install
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Julia.gi
  ComplexesCategories/read.g
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  HomotopyCategories/gap/Julia.gi
  HomotopyCategories/init.g
  HomotopyCategories/read.g
Due: ComplexesCategories, HomotopyCategories

remove obsolete for-loop
  ComplexesCategories/gap/Complexes.gi
Due: ComplexesCategories

adjuction -> adjunction
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/gap/StrongExceptionalSequences.gi
Due: DerivedCategories, HomotopyCategories

add examples folder to ComplexesCategories for ci-tests
  ComplexesCategories/examples/.gitkeep
Due: ComplexesCategories

Update website for ComplexesCategories 2022.12-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chap2.html
  ComplexesCategories/doc/chap2.txt
  ComplexesCategories/doc/chap2_mj.html
  ComplexesCategories/doc/chap3.html
  ComplexesCategories/doc/chap3.txt
  ComplexesCategories/doc/chap3_mj.html
  ComplexesCategories/doc/chap4.html
  ComplexesCategories/doc/chap4.txt
  ComplexesCategories/doc/chap4_mj.html
  ComplexesCategories/doc/chap5.html
  ComplexesCategories/doc/chap5.txt
  ComplexesCategories/doc/chap5_mj.html
  ComplexesCategories/doc/chap6.html
  ComplexesCategories/doc/chap6.txt
  ComplexesCategories/doc/chap6_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd.txt
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.12-03
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

reset TEXTMTRANSLATIONS.curlyvee to V in the display method of CAP functor
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ToolsForHigherHomologicalAlgebra

rm whitspaces
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

Update website for ToolsForHigherHomologicalAlgebra 2022.12-04
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra
