Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

Bicomplexes: rename ViewObj/Display to ViewString/DisplayString and return strings
  Bicomplexes/gap/Bicomplexes.gi
  Bicomplexes/gap/Morphisms.gi
  Bicomplexes/gap/Objects.gi
Due: Bicomplexes

Bicomplexes: add @drop_example_in_Julia markers to two test files
  Bicomplexes/tst/total-complex-left-presentations.tst
  Bicomplexes/tst/total-complex-of-bicomplex-morphism-using-algebroids.tst
Due: Bicomplexes

ComplexesCategories: pass explicit cat argument to CAP operations in Resolutions.gi
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

Bicomplexes: fix extra space in morphism_constructor arrow
  Bicomplexes/gap/Bicomplexes.gi
Due: Bicomplexes

Bicomplexes: wrap InfoBicomplexesCategories in a Julia comment block
  Bicomplexes/gap/Bicomplexes.gd
Due: Bicomplexes

pass overhead to PreSheavesWithBounds
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

ComplexesCategories: improve test_random_methods_category_of_rows.tst
  ComplexesCategories/tst/test_random_methods_category_of_rows.tst
Due: ComplexesCategories

ComplexesCategories: use direct Add* calls instead of ValueGlobal/EvalString loop
  ComplexesCategories/gap/HomStructure.gi
Due: ComplexesCategories

ComplexesCategories: rename Algebroids to FpLinearCategories and add @drop_example_in_Julia markers
  ComplexesCategories/tst/100_LoadPackage.tst
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
Due: ComplexesCategories

ComplexesCategories: expand injective resolution methods to functions with CallFuncListAtRuntime
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

ComplexesCategories: extract upper bound variable and fix spacing in AddRandomObjectByList
  ComplexesCategories/gap/Categories.gi
Due: ComplexesCategories

HomotopyCategories: misc fixes: arg order, repeat→while, TEXTMTRANSLATIONS, refactor
  HomotopyCategories/examples/StrongExceptionalCollection.g
  HomotopyCategories/gap/Convolution.gi
  HomotopyCategories/gap/Morphisms.gi
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
  HomotopyCategories/gap/StrongExceptionalSequences.gi
Due: HomotopyCategories

ComplexesCategories: update and improve test files
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
  ComplexesCategories/tst/test_homotopy_operations.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_axioms_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_kernel_and_cokernel_functorials_in_complexes_of_free_abelian_category.tst
  ComplexesCategories/tst/test_resolutions_operations.tst
Due: ComplexesCategories

TriangulatedCategories: add doc comment, START/STOP_TEST, use kF. prefix, and create objects/morphisms explicitly in triangulated structure test
  TriangulatedCategories/tst/test_triangulated_structure_homotopy_category.tst
Due: TriangulatedCategories

TriangulatedCategories: remove outdated example file
  TriangulatedCategories/examples/.keep
  TriangulatedCategories/examples/test_triangulated_structure_homotopy_category.g
Due: TriangulatedCategories

TriangulatedCategories: add @drop_example_in_Julia marker
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/tst/test_triangulated_structure_homotopy_category.tst
Due: TriangulatedCategories

HomotopyCategories: add @drop_example_in_Julia markers to tst files
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: HomotopyCategories

ComplexesCategories: Update Notebooks
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
Due: ComplexesCategories

DerivedCategories: refactor AddAdditionForMorphisms with CallFuncListAtRuntime and extracted locals
  DerivedCategories/gap/DerivedCategories.gi
Due: DerivedCategories

DerivedCategories: remove TextAttr coloring from DisplayString
  DerivedCategories/gap/Morphisms.gi
Due: DerivedCategories

DerivedCategories: wrap conditional FunctorCategories loading in Julia comment blocks and fix whitespace
  DerivedCategories/init.g
  DerivedCategories/read.g
Due: DerivedCategories

makefiles: fix test-notebooks against non-deterministic output chunking
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

HomotopyCategories: Bump version to 2026.07-01
  HomotopyCategories/PackageInfo.g
Due: HomotopyCategories

HomotopyCategories: add doc comment, START/STOP_TEST, use kF. prefix, and create objects/morphisms explicitly in convolution test
  HomotopyCategories/tst/test_convolution.tst
Due: HomotopyCategories

DerivedCategories: Update Notebooks
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

HomotopyCategories: add @drop_example_in_Julia markers and remove stale @Example block from PreSheaves example
  HomotopyCategories/examples/HomotopyCategoryOfFreydCategories.g
  HomotopyCategories/examples/HomotopyCategoryOfLeftPresentations.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves-Yoneda.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
  HomotopyCategories/examples/StrongExceptionalCollection.g
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: HomotopyCategories

DerivedCategories: improve happel-theorem test (START/STOP_TEST, ASCII vertex names, IsZeroForObjects, @drop_example_in_Julia)
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
Due: DerivedCategories

ToolsForHigherHomologicalAlgebra: remove AdditiveFunctorByTwoFunctionsData
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/Functors.gd
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: ToolsForHigherHomologicalAlgebra

HomotopyCategories: add doc comment, START/STOP_TEST, use kF. prefix, and create objects/morphisms explicitly in triangulated structure test
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: HomotopyCategories

DerivedCategories: drop second arg to PreSheavesOfFpEnrichedCategory, use CallFuncListAtRuntime, wrap DeactivateCachingObject in Julia comments
  DerivedCategories/gap/OnlyWithFunctorCategories.gi
Due: DerivedCategories

Update website for ComplexesCategories 2026.07-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.07-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.07-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  HomotopyCategories/doc/chooser.html
  HomotopyCategories/doc/dark.css
  HomotopyCategories/doc/manual.css
  HomotopyCategories/doc/manual.js
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Update website for ToolsForHigherHomologicalAlgebra 2026.07-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chooser.html
  ToolsForHigherHomologicalAlgebra/doc/dark.css
  ToolsForHigherHomologicalAlgebra/doc/manual.css
  ToolsForHigherHomologicalAlgebra/doc/manual.js
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Update website for TriangulatedCategories 2026.07-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap1.html
  TriangulatedCategories/doc/chap1.txt
  TriangulatedCategories/doc/chap1_mj.html
  TriangulatedCategories/doc/chap2.html
  TriangulatedCategories/doc/chap2_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd.txt
  TriangulatedCategories/doc/chapInd_mj.html
  TriangulatedCategories/doc/chooser.html
  TriangulatedCategories/doc/dark.css
  TriangulatedCategories/doc/manual.css
  TriangulatedCategories/doc/manual.js
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

Bicomplexes: add doc comment, START/STOP_TEST, use kF. prefix, and create objects/morphisms explicitly in bicomplex morphism test
  Bicomplexes/PackageInfo.g
  Bicomplexes/tst/total-complex-of-bicomplex-morphism-using-algebroids.tst
Due: Bicomplexes

Bicomplexes: replace ModulePresentations with FreydCategoriesForCAP in total-complex test
  Bicomplexes/tst/total-complex-freyd-categories.tst
  Bicomplexes/tst/total-complex-left-presentations.tst
Due: Bicomplexes

Update website for Bicomplexes 2026.07-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  Bicomplexes/doc/chap1.html
  Bicomplexes/doc/chap1.txt
  Bicomplexes/doc/chap1_mj.html
  Bicomplexes/doc/chooser.html
  Bicomplexes/doc/dark.css
  Bicomplexes/doc/manual.css
  Bicomplexes/doc/manual.js
  _data/Bicomplexes.yml
Due: Bicomplexes

HomotopyCategories: Update examples and tests
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfFreydCategories.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves-Yoneda.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
  HomotopyCategories/examples/StrongExceptionalCollection.g
  HomotopyCategories/tst/test_convolution.tst
  HomotopyCategories/tst/test_triangulated_structure.tst
Due: HomotopyCategories

Use CallFuncListAtRuntime for Yoneda isomorphism
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/OnlyWithFunctorCategories.gi
Due: DerivedCategories
