Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Update website for DerivedCategories 2022.09-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for TriangulatedCategories 2022.09-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

comply with FunctorCategories v2022.09-18
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/gap/ExceptionalCollection.gi
Due: DerivedCategories

Update website for DerivedCategories 2022.09-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

comply with https://github.com/homalg-project/CAP_project/pull/1054
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Use UniversalMorphismFromDirectSum instead of MorphismBetweenDirectSums
  DerivedCategories/gap/QPA.gi
Due: DerivedCategories

DerivedCategories now depends on FunctorCategories 2022.09-37
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Julia 1.5.2 -> 1.8.1
  Notebooks/TiltingEquivalence.ipynb
Due: none

comply with FunctorCategories v2022.10-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Allow to call all tests in DerivedCategories standalone
  DerivedCategories/PackageInfo.g
  DerivedCategories/tst/101_create_ring.tst
  DerivedCategories/tst/algebroids.tst
  DerivedCategories/tst/decompose.tst
  DerivedCategories/tst/derived_category_of_freyd_of_Qxyzt.tst
  DerivedCategories/tst/full_subcategory_of_projectives.tst
  DerivedCategories/tst/isomorphism_from_ec_to_algebroid_to_full_sub_of_projs.tst
  DerivedCategories/tst/isomorphism_from_to_algebroid.tst
  DerivedCategories/tst/unit_counit.tst
Due: DerivedCategories

Update website for DerivedCategories 2022.10-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Remove random methods of category of rows from ToolsForHigherHomologicalAlgebra
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

comply with https://github.com/homalg-project/FunctorCategories/pull/185
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
Due: DerivedCategories

Update website for DerivedCategories 2022.10-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

remove random methods of graded rows
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

disable some tests until I complete the transition to functor categories
  DerivedCategories/examples/HappelTheorem.ipynb
  DerivedCategories/examples/TiltingEquivalence.ipynb
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/Hom.gi
  DerivedCategories/gap/NaturalTransformations.gi
  DerivedCategories/gap/Tensor.gi
  DerivedCategories/tst/P2.tst
  DerivedCategories/tst/unit_counit.tst
  StableCategories/examples/doc/CategoryOfArrows-2.g
  StableCategories/examples/doc/ComplexesCategories-1.g
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/ModulePresentationsForCAP.gi
  TriangulatedCategories/examples/BeilinsonQuiver.tst
Due: DerivedCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

comply with https://github.com/homalg-project/FunctorCategories/pull/216
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/HappelTheorem.ipynb
  Notebooks/Squar/TiltingequivalenceAsDerivedFunctors.ipynb
Due: DerivedCategories

Update website for DerivedCategories 2022.10-03
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

FunctorFromLinearCategoryByTwoFunctions ->
  BBGG/gap/Beilinson.gi
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/Hom.gi
  DerivedCategories/gap/ToolsForFreydCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/Functors.gd
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: BBGG, DerivedCategories, ToolsForHigherHomologicalAlgebra

Remove Convenience methods from DerivedCategories
  DerivedCategories/gap/Convenience.gd
  DerivedCategories/gap/Convenience.gi
Due: DerivedCategories

comply with random methods in FreydCategories
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

Use AddFinalDerivationBundle
  StableCategories/PackageInfo.g
  StableCategories/gap/DerivedMethodsForFrobeniusCategories.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/DerivedMethods.gi
Due: StableCategories, TriangulatedCategories

Update website for StableCategories 2022.10-01
  StableCategories/PackageInfo.g
  StableCategories/doc/chap0.html
  StableCategories/doc/chap0.txt
  StableCategories/doc/chap0_mj.html
  StableCategories/doc/chap3.html
  StableCategories/doc/chap3.txt
  StableCategories/doc/chap3_mj.html
  _data/StableCategories.yml
Due: StableCategories

Update website for TriangulatedCategories 2022.10-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

remove linear algebra files from ToolsForHigherHomologicalAlgebra
  ToolsForHigherHomologicalAlgebra/gap/LinearAlgebraForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/LinearAlgebraForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

update proj_inj_resolutions_in_vector_spaces.tst
  ComplexesCategories/tst/100_LoadPackage.tst
  ComplexesCategories/tst/proj_inj_resolutions_in_vector_spaces.tst
Due: ComplexesCategories

remove CoeffsOfMorphismWithGivenBasisOfExternalHom
  BBGG/gap/Beilinson.gi
  BBGG/gap/CoherentSheavesOverProjectiveSpace.gi
  ComplexesCategories/tst/proj_inj_resolutions_in_vector_spaces.tst
  DerivedCategories/examples/TiltingEquivalence.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/gap/DerivedCategories.gi
  DerivedCategories/gap/ExceptionalCollection.gi
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/QPA.gi
  HomotopyCategories/gap/HomotopyCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
Due: BBGG, ComplexesCategories, DerivedCategories, HomotopyCategories, ToolsForHigherHomologicalAlgebra

cleaning
  DerivedCategories/gap/CohrerntScheavesOverProjectiveSpace.gd
  DerivedCategories/gap/CohrerntScheavesOverProjectiveSpace.gi
  DerivedCategories/gap/ExceptionalCollection.gd
  DerivedCategories/gap/ExceptionalCollection.gi
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/Hom.gd
  DerivedCategories/gap/Hom.gi
  DerivedCategories/gap/OtherQPATweaks.gi
  DerivedCategories/gap/QPA.gd
  DerivedCategories/gap/QPA.gi
  DerivedCategories/gap/Tensor.gd
  DerivedCategories/gap/Tensor.gi
  DerivedCategories/init.g
  DerivedCategories/read.g
  DerivedCategories/tst/P2.tst
  DerivedCategories/tst/algebroids.tst
  DerivedCategories/tst/decompose.tst
  DerivedCategories/tst/full_subcategory_of_projectives.tst
  DerivedCategories/tst/isomorphism_from_ec_to_algebroid_to_full_sub_of_projs.tst
  DerivedCategories/tst/isomorphism_from_to_algebroid.tst
Due: DerivedCategories

Temporarily include IO_ForHomalg package in tst/100_LoadPackage in stable categories
  StableCategories/tst/100_LoadPackage.tst
Due: StableCategories

cleaning
  ToolsForHigherHomologicalAlgebra/gap/Algebroids.gd
  ToolsForHigherHomologicalAlgebra/gap/Algebroids.gi
Due: ToolsForHigherHomologicalAlgebra

cleaning
  ToolsForHigherHomologicalAlgebra/gap/CategoryConstructor.gd
  ToolsForHigherHomologicalAlgebra/gap/CategoryConstructor.gi
Due: ToolsForHigherHomologicalAlgebra

cleaning
  ToolsForHigherHomologicalAlgebra/gap/GradedModulePresentationsForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/GradedModulePresentationsForCAP.gi
  ToolsForHigherHomologicalAlgebra/gap/ModulePresentationsForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/ModulePresentationsForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

cleaning
  DerivedCategories/gap/ToolsForFreydCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/GradedRingForHomalg.gd
  ToolsForHigherHomologicalAlgebra/gap/GradedRingForHomalg.gi
  ToolsForHigherHomologicalAlgebra/gap/RingsForHomalg.gd
  ToolsForHigherHomologicalAlgebra/gap/RingsForHomalg.gi
Due: DerivedCategories, ToolsForHigherHomologicalAlgebra

cleaning
  ToolsForHigherHomologicalAlgebra/gap/MatricesForHomalg.gd
  ToolsForHigherHomologicalAlgebra/gap/MatricesForHomalg.gi
Due: ToolsForHigherHomologicalAlgebra

cleaning
  ComplexesCategories/gap/ChainMaps.gi
  ComplexesCategories/gap/Complexes.gi
  DerivedCategories/examples/TiltingEquivalence.ipynb
  DerivedCategories/gap/ToolsForFreydCategories.gi
  StableCategories/examples/doc/CategoryOfArrows-0.g
  StableCategories/examples/doc/verbatims/_CategoryOfArrows.g
  ToolsForHigherHomologicalAlgebra/gap/CAP.gd
  ToolsForHigherHomologicalAlgebra/gap/CAP.gi
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/SubcategoriesForCAP.gd
  ToolsForHigherHomologicalAlgebra/gap/SubcategoriesForCAP.gi
Due: ComplexesCategories, DerivedCategories, StableCategories, ToolsForHigherHomologicalAlgebra

cleaning
  DerivedCategories/gap/BoxProduct.gd
  DerivedCategories/gap/BoxProduct.gi
  DerivedCategories/gap/CohrerntScheavesOverProjectiveSpace.gd
  DerivedCategories/gap/CohrerntScheavesOverProjectiveSpace.gi
  DerivedCategories/gap/ProductOfProjectiveSpaces.gd
  DerivedCategories/gap/ProductOfProjectiveSpaces.gi
  DerivedCategories/gap/TempMethods.gi
  DerivedCategories/gap/ToolsForFreydCategories.gd
  DerivedCategories/gap/ToolsForFreydCategories.gi
  DerivedCategories/init.g
  DerivedCategories/read.g
  StableCategories/tst/100_LoadPackage.tst
Due: DerivedCategories, StableCategories

turn IsNullHomotopic and HomotopyMorphisms into GAP methods
  ComplexesCategories/examples/Demo/chains_of_left_presentations_over_commutative_homalg_ring.demo
  ComplexesCategories/examples/Demo/chains_of_left_presentations_over_commutative_homalg_ring.g
  ComplexesCategories/examples/Demo/read.g
  ComplexesCategories/examples/temp_dir/TensorOnMorphisms.g
  ComplexesCategories/examples/temp_dir/chains_of_left_presentations_over_commutative_homalg_ring.g
  ComplexesCategories/examples/temp_dir/chains_of_left_presentations_over_commutative_homalg_ring2.g
  ComplexesCategories/examples/temp_dir/chains_of_quiver_representations.g
  ComplexesCategories/examples/temp_dir/ext_polynomial_ring.g
  ComplexesCategories/examples/temp_dir/inj_resolutions_graded_lp_over_exterior_algebra.g
  ComplexesCategories/examples/temp_dir/inj_resolutions_lp_over_exterior_algebra.g
  ComplexesCategories/examples/temp_dir/monoidal.g
  ComplexesCategories/gap/Categories.gd
  ComplexesCategories/gap/Categories.gi
  ComplexesCategories/gap/ChainMaps.gd
  ComplexesCategories/gap/Derivations.gi
  HomotopyCategories/gap/DerivedMethods.gi
  HomotopyCategories/gap/HomStructure.gi
  HomotopyCategories/gap/HomotopyCategories.gi
  StableCategories/gap/DerivedMethodsForStableCategories.gi
Due: ComplexesCategories, HomotopyCategories, StableCategories

dirty fix to the final derivation of IsColiftingObject
  StableCategories/gap/DerivedMethodsForStableCategories.gi
Due: StableCategories

apply PackageJanitor
  .github/workflows/Tests.yml
  BBGG/PackageInfo.g
  BBGG/makefile
  BBGG/tst/100_LoadPackage.tst
  Bicomplexes/PackageInfo.g
  Bicomplexes/makefile
  Bicomplexes/tst/100_LoadPackage.tst
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/makefile
  ComplexesCategories/tst/100_LoadPackage.tst
  ComplexesCategories/tst/vector_spaces.tst
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/makefile
  DerivedCategories/tst/100_LoadPackage.tst
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/makefile
  HomotopyCategories/tst/100_LoadPackage.tst
  QuotientCategories/PackageInfo.g
  QuotientCategories/makefile
  QuotientCategories/tst/100_LoadPackage.tst
  StableCategories/PackageInfo.g
  StableCategories/examples/doc/Freyd_GradedExteriorAlgebra.g
  StableCategories/makedoc.g
  StableCategories/makefile
  StableCategories/tst/100_LoadPackage.tst
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/examples/empty.g
  ToolsForHigherHomologicalAlgebra/makefile
  ToolsForHigherHomologicalAlgebra/tst/100_LoadPackage.tst
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/makefile
  TriangulatedCategories/tst/100_LoadPackage.tst
  ci_gaprc
  upload_codecov.sh
Due: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Comply with PreInverseForMorphisms and PostInverseForMorphisms in CAP
  StableCategories/examples/doc/CategoryOfArrows-0.g
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gi
Due: StableCategories, ToolsForHigherHomologicalAlgebra

Path conditions:
  BBGG: any of: BBGG/
  Bicomplexes: any of: Bicomplexes/
  ComplexesCategories: any of: ComplexesCategories/
  DerivedCategories: any of: DerivedCategories/
  HomotopyCategories: any of: HomotopyCategories/
  QuotientCategories: any of: QuotientCategories/
  StableCategories: any of: StableCategories/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/
  TriangulatedCategories: any of: TriangulatedCategories/
