Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Update website for DerivedCategories 2026.07-03
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.07-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

DgComplexesCategories: rename _dgcomplexes_StrongExceptionalSequence to _dgcomplexes_RandomDirectedCollectionDatum
  DgComplexesCategories/gap/DesignDgComplexesCategory.gi
Due: none

DgComplexesCategories: replace InstallOtherMethod(DgCochainComplexCategory,...) with DgCochainComplexCategoryFromGeneratorsAndRelations
  DgComplexesCategories/gap/DesignDgComplexesCategory.gi
Due: none

DgComplexesCategories: fix global variable binding in DgCochainComplexCategoryFromGeneratorsAndRelations
  DgComplexesCategories/PackageInfo.g
  DgComplexesCategories/gap/DesignDgComplexesCategory.gi
Due: none

DgComplexesCategories: bump version to 2026.07-01
  DgComplexesCategories/PackageInfo.g
Due: none

comment out code relying on Algebroids
  DgComplexesCategories/examples/PrecompileCategoryOfDgComplexesOfAdditiveClosureOfAlgebroid.g
  DgComplexesCategories/init.g
  DgComplexesCategories/read.g
Due: none

DgComplexesCategories: add test infrastructure and rewrite matrix_category example
  DgComplexesCategories/examples/basic.g
  DgComplexesCategories/examples/design.g
  DgComplexesCategories/examples/matrix_category.g
  DgComplexesCategories/makefile
  DgComplexesCategories/tst/100_LoadPackage.tst
  DgComplexesCategories/tst/testall.g
Due: none

DgComplexesCategories: fix first arg in HomStructure.gi
  DgComplexesCategories/gap/HomStructure.gi
Due: none

LaTeX: use display math \( \) instead of $ $, add -interaction=nonstopmode to prevent hanging
  ToolsForHigherHomologicalAlgebra/gap/LaTeX.gi
Due: ToolsForHigherHomologicalAlgebra

ToolsForHigherHomologicalAlgebra: remove dead code for RandomObject/Morphism methods
  ToolsForHigherHomologicalAlgebra/gap/FreydCategoriesForCAP.gi
Due: ToolsForHigherHomologicalAlgebra

update few LaTeXOutput methods
  ComplexesCategories/gap/Morphisms.gi
  ComplexesCategories/gap/Objects.gi
  DerivedCategories/gap/Morphisms.gi
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Path conditions:
  BBGG: any of: BBGG/
  Bicomplexes: any of: Bicomplexes/
  ComplexesCategories: any of: ComplexesCategories/
  DerivedCategories: any of: DerivedCategories/
  HomotopyCategories: any of: HomotopyCategories/
  QuotientCategories: any of: QuotientCategories/
  StableCategories: any of: StableCategories/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/
  TriangulatedCategories: any of: TriangulatedCategories/
