Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

Imporve the computation of the abstraction algebroid and the associated isomorphisms
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
Due: HomotopyCategories

lift natural transformations to homotopy categories
  HomotopyCategories/gap/NaturalTransformations.gd
  HomotopyCategories/gap/NaturalTransformations.gi
  HomotopyCategories/init.g
  HomotopyCategories/read.g
Due: HomotopyCategories

add examples/notebooks/README.md in homotopy categories
  HomotopyCategories/examples/notebooks/README.md
Due: HomotopyCategories

Tensor-Hom adjunction
  DerivedCategories/gap/OnlyWithFunctorCategories.gd
  DerivedCategories/gap/OnlyWithFunctorCategories.gi
Due: DerivedCategories

add headers
  DerivedCategories/gap/DerivedCategories.gd
  DerivedCategories/gap/DerivedCategories.gi
  DerivedCategories/gap/Functors.gd
  DerivedCategories/gap/Functors.gi
  DerivedCategories/gap/Morphisms.gd
  DerivedCategories/gap/Morphisms.gi
  DerivedCategories/gap/Objects.gd
  DerivedCategories/gap/Objects.gi
Due: DerivedCategories

add/update notebooks
  DerivedCategories/examples/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  DerivedCategories/makefile
  DerivedCategories/tst/100_LoadPackage.tst
Due: DerivedCategories

Explicitly set category_as_first_argument in
  TriangulatedCategories/gap/CategoryOfTriangles.gi
Due: TriangulatedCategories

fix a link in mybinder link of FinitelyGeneratedAbelianGroups.ipynb and
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
Due: DerivedCategories

install a method to compute shift of an object in the derived category
  DerivedCategories/gap/Objects.gi
Due: DerivedCategories

bug fixed
  DerivedCategories/gap/DerivedCategories.gi
Due: DerivedCategories

add a gap test file to DerivedCategories
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
Due: DerivedCategories

remove 3 old files
  DerivedCategories/gap/_DerivedCategories.gd
  DerivedCategories/gap/_DerivedCategories.gi
  DerivedCategories/gap/tmp
Due: DerivedCategories

fix a bug in a previous fix of a bug :|
  DerivedCategories/gap/DerivedCategories.gi
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
Due: DerivedCategories

clone PreSheaves for ci-tests
  .github/workflows/Tests.yml
Due: none

comply with Algebroids v2023.02-01
  DgComplexesCategories/PackageInfo.g
  DgComplexesCategories/gap/DgComplexesOfAdditiveClosureOfAlgebroid.gi
Due: none

clone FiniteCocompletion
  .github/workflows/Tests.yml
Due: none

adjust output of a cell in FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

comply with ToolsForHomalg V2023.02.01
  ToolsForHigherHomologicalAlgebra/gap/ZFunctions.gd
  ToolsForHigherHomologicalAlgebra/gap/ZFunctions.gi
  ToolsForHigherHomologicalAlgebra/init.g
  ToolsForHigherHomologicalAlgebra/read.g
Due: ToolsForHigherHomologicalAlgebra

include latex-options in makedoc.g in StableCategories
  StableCategories/makedoc.g
Due: StableCategories

first step toward cleaning Bicomplexes package
  Bicomplexes/PackageInfo.g
  Bicomplexes/examples/AsCategoryOfBicomplexes.g
  Bicomplexes/examples/doc/Example.g
  Bicomplexes/gap/Bicomplexes.gi
  Bicomplexes/gap/TotalComplex.gi
  Bicomplexes/init.g
  Bicomplexes/read.g
  Bicomplexes/tst/total-complex.tst
Due: Bicomplexes

Update website for Bicomplexes 2023.02-01
  Bicomplexes/PackageInfo.g
  Bicomplexes/README.md
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  Bicomplexes/doc/chap1.html
  Bicomplexes/doc/chap1.txt
  Bicomplexes/doc/chap1_mj.html
  Bicomplexes/doc/manual.js
  _data/Bicomplexes.yml
Due: Bicomplexes

adjust notebooks/FinitelyGeneratedAbelianGroups.ipynb to CAP
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/tst/happel-theorem-in-copresheaves.tst
Due: DerivedCategories

refactor bicomplexes
  Bicomplexes/PackageInfo.g
  Bicomplexes/examples/doc/LeftPresentations.g
  Bicomplexes/gap/Bicomplexes.gd
  Bicomplexes/gap/Bicomplexes.gi
  Bicomplexes/gap/Morphisms.gd
  Bicomplexes/gap/Morphisms.gi
  Bicomplexes/gap/Objects.gd
  Bicomplexes/gap/Objects.gi
  Bicomplexes/gap/TotalComplex.gd
  Bicomplexes/gap/TotalComplex.gi
  Bicomplexes/init.g
  Bicomplexes/read.g
  Bicomplexes/tst/100_LoadPackage.tst
  Bicomplexes/tst/total-complex-left-presentations.tst
  Bicomplexes/tst/total-complex-of-bicomplex-morphism-using-algebroids.tst
  Bicomplexes/tst/total-complex.tst
Due: Bicomplexes

Update website for Bicomplexes 2023.02-02
  Bicomplexes/PackageInfo.g
  Bicomplexes/doc/chap0.html
  Bicomplexes/doc/chap0.txt
  Bicomplexes/doc/chap0_mj.html
  Bicomplexes/doc/chap1.html
  Bicomplexes/doc/chap1.txt
  Bicomplexes/doc/chap1_mj.html
  Bicomplexes/doc/chapInd.html
  Bicomplexes/doc/chapInd.txt
  Bicomplexes/doc/chapInd_mj.html
  _data/Bicomplexes.yml
Due: Bicomplexes

read the files gap/OnlyWithFunctorCategories.gi only if FunctorCategories is marked for loading
  DerivedCategories/PackageInfo.g
  DerivedCategories/init.g
  DerivedCategories/read.g
Due: DerivedCategories

adjust the view method of complexes
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/Objects.gi
Due: ComplexesCategories

adjust computing the exceptional replacement of a zero object
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/StrongExceptionalSequences.gi
Due: HomotopyCategories

remove double subscripts from io_types
  TriangulatedCategories/gap/MethodRecord.autogen.gd
  TriangulatedCategories/gap/MethodRecord.gi
Due: TriangulatedCategories

some modifications in the some notebooks
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2023.02-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chap1.html
  ComplexesCategories/doc/chap1_mj.html
  ComplexesCategories/doc/chapInd.html
  ComplexesCategories/doc/chapInd.txt
  ComplexesCategories/doc/chapInd_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2023.02-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2023.02-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

rename some gap categories & filters in TriangulatedCategories
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/gap/CategoryOfTriangles.gd
  TriangulatedCategories/gap/CategoryOfTriangles.gi
  TriangulatedCategories/gap/Functors.gd
  TriangulatedCategories/gap/Functors.gi
Due: TriangulatedCategories

add more tests to homotopy categories
  HomotopyCategories/tst/TiltingEquivalence.tst
Due: HomotopyCategories

Update website for TriangulatedCategories 2023.02-01
  TriangulatedCategories/PackageInfo.g
  TriangulatedCategories/doc/chap0.html
  TriangulatedCategories/doc/chap0.txt
  TriangulatedCategories/doc/chap0_mj.html
  TriangulatedCategories/doc/chap1.html
  TriangulatedCategories/doc/chap1.txt
  TriangulatedCategories/doc/chap1_mj.html
  TriangulatedCategories/doc/chap2.html
  TriangulatedCategories/doc/chap2_mj.html
  TriangulatedCategories/doc/chap3.html
  TriangulatedCategories/doc/chap3.txt
  TriangulatedCategories/doc/chap3_mj.html
  TriangulatedCategories/doc/chapInd.html
  TriangulatedCategories/doc/chapInd.txt
  TriangulatedCategories/doc/chapInd_mj.html
  _data/TriangulatedCategories.yml
Due: TriangulatedCategories

DerivedMethods.gi in ToolsForHigherHomologicalAlgebra
  ToolsForHigherHomologicalAlgebra/gap/DerivedMethods.gi
Due: ToolsForHigherHomologicalAlgebra

refactor ToolsForHigherHomologicalAlgebra and bump verison to 2023.02.01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/gap/CAP.gd
  ToolsForHigherHomologicalAlgebra/gap/CAP.gi
  ToolsForHigherHomologicalAlgebra/gap/EnhancePackage.gd
  ToolsForHigherHomologicalAlgebra/gap/EnhancePackage.gi
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gd
  ToolsForHigherHomologicalAlgebra/gap/FunctorCategories.gi
  ToolsForHigherHomologicalAlgebra/gap/Functors.gd
  ToolsForHigherHomologicalAlgebra/gap/Functors.gi
  ToolsForHigherHomologicalAlgebra/init.g
  ToolsForHigherHomologicalAlgebra/read.g
Due: ToolsForHigherHomologicalAlgebra

Update website for ToolsForHigherHomologicalAlgebra 2023.02-01
  ToolsForHigherHomologicalAlgebra/PackageInfo.g
  ToolsForHigherHomologicalAlgebra/doc/chap0.html
  ToolsForHigherHomologicalAlgebra/doc/chap0.txt
  ToolsForHigherHomologicalAlgebra/doc/chap0_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap1.html
  ToolsForHigherHomologicalAlgebra/doc/chap1_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap2.html
  ToolsForHigherHomologicalAlgebra/doc/chap2_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chap3.html
  ToolsForHigherHomologicalAlgebra/doc/chap3.txt
  ToolsForHigherHomologicalAlgebra/doc/chap3_mj.html
  ToolsForHigherHomologicalAlgebra/doc/chapInd.html
  ToolsForHigherHomologicalAlgebra/doc/chapInd.txt
  ToolsForHigherHomologicalAlgebra/doc/chapInd_mj.html
  _data/ToolsForHigherHomologicalAlgebra.yml
Due: ToolsForHigherHomologicalAlgebra

Path conditions:
  BBGG: any of: BBGG/
  Bicomplexes: any of: Bicomplexes/
  ComplexesCategories: any of: ComplexesCategories/
  DerivedCategories: any of: DerivedCategories/
  HomotopyCategories: any of: HomotopyCategories/
  QuotientCategories: any of: QuotientCategories/
  StableCategories: any of: StableCategories/
  ToolsForHigherHomologicalAlgebra: any of: ToolsForHigherHomologicalAlgebra/
  TriangulatedCategories: any of: TriangulatedCategories/
