Repository homalg-project/HigherHomologicalAlgebra: changes, and which Codecov flags are due for each by the changed paths.
All: BBGG, Bicomplexes, ComplexesCategories, DerivedCategories, HomotopyCategories, QuotientCategories, StableCategories, ToolsForHigherHomologicalAlgebra, TriangulatedCategories

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 9
flags:
  BBGG:
    paths:
      - "BBGG/"
  Bicomplexes:
    paths:
      - "Bicomplexes/"
  ComplexesCategories:
    paths:
      - "ComplexesCategories/"
  DerivedCategories:
    paths:
      - "DerivedCategories/"
  HomotopyCategories:
    paths:
      - "HomotopyCategories/"
  QuotientCategories:
    paths:
      - "QuotientCategories/"
  StableCategories:
    paths:
      - "StableCategories/"
  ToolsForHigherHomologicalAlgebra:
    paths:
      - "ToolsForHigherHomologicalAlgebra/"
  TriangulatedCategories:
    paths:
      - "TriangulatedCategories/"

Switch dependency to PresheafCategories
  ComplexesCategories/PackageInfo.g
Due: ComplexesCategories

Apply PackageJanitor
  .github/workflows/Tests.yml
  ComplexesCategories/makefile
  DerivedCategories/makefile
  HomotopyCategories/makefile
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2026.05-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Apply PackageJanitor
  .github/workflows/Tests.yml
Due: none

Update Notebooks to Julia 1.14
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/examples/notebooks/strong_exceptional_sequence_in_homotopy_category_of_k_rows.ipynb
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update Notebooks to MonoidalCategories/CartesianCategories v2026.05-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2026.05-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.05-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.05-01
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Comply with CAP 2026.05-02
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/examples/notebooks/FreydCategory_Qxy.ipynb
  ComplexesCategories/examples/notebooks/PreSheaves.ipynb
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
  DerivedCategories/examples/notebooks/HappelTheorem.ipynb
  DerivedCategories/examples/notebooks/TiltingEquivalence.ipynb
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/examples/HomotopyCategoryOfPreSheaves.g
Due: ComplexesCategories, DerivedCategories, HomotopyCategories

Update website for ComplexesCategories 2026.05-03
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.05-02
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

Update website for HomotopyCategories 2026.05-02
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/doc/chap0.html
  HomotopyCategories/doc/chap0.txt
  HomotopyCategories/doc/chap0_mj.html
  HomotopyCategories/doc/chap2.html
  HomotopyCategories/doc/chap2.txt
  HomotopyCategories/doc/chap2_mj.html
  _data/HomotopyCategories.yml
Due: HomotopyCategories

Apply PackageJanitor
  dev/upload_codecov.sh
Due: none

Comply with CAP_project
  DerivedCategories/PackageInfo.g
  DerivedCategories/examples/notebooks/FinitelyGeneratedAbelianGroups.ipynb
Due: DerivedCategories

Update website for DerivedCategories 2026.06-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  _data/DerivedCategories.yml
Due: DerivedCategories

ComplexesCategories: require PresheafCategories to v2026.07-01
  ComplexesCategories/PackageInfo.g
Due: ComplexesCategories

Switch to fp-enriched presheaf construction
  DerivedCategories/PackageInfo.g
  DerivedCategories/gap/OnlyWithFunctorCategories.gi
Due: DerivedCategories

Update website for ComplexesCategories 2026.07-01
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/doc/chap0.html
  ComplexesCategories/doc/chap0.txt
  ComplexesCategories/doc/chap0_mj.html
  ComplexesCategories/doc/chooser.html
  ComplexesCategories/doc/dark.css
  ComplexesCategories/doc/manual.css
  ComplexesCategories/doc/manual.js
  _data/ComplexesCategories.yml
Due: ComplexesCategories

Update website for DerivedCategories 2026.07-01
  DerivedCategories/PackageInfo.g
  DerivedCategories/doc/chap0.html
  DerivedCategories/doc/chap0.txt
  DerivedCategories/doc/chap0_mj.html
  DerivedCategories/doc/chooser.html
  DerivedCategories/doc/dark.css
  DerivedCategories/doc/manual.css
  DerivedCategories/doc/manual.js
  _data/DerivedCategories.yml
Due: DerivedCategories

HomotopyCategories: add HomotopyCategoryByChains and ExtendFunctorToHomotopyCategoriesByChains
  HomotopyCategories/gap/Categories.gi
  HomotopyCategories/gap/Functors.gi
Due: HomotopyCategories

ComplexesCategories: add Julia comment markers
  ComplexesCategories/gap/Categories.gd
  ComplexesCategories/gap/Categories.gi
  ComplexesCategories/gap/Morphisms.gd
  ComplexesCategories/gap/Objects.gd
  ComplexesCategories/read.g
Due: ComplexesCategories

ComplexesCategories: replace ValueGlobal with direct refs; add deps
  ComplexesCategories/PackageInfo.g
  ComplexesCategories/gap/HomStructure.gi
Due: ComplexesCategories

ComplexesCategories: use CallFuncListAtRuntime for constructors
  ComplexesCategories/gap/Categories.gi
  ComplexesCategories/gap/HomStructure.gi
  ComplexesCategories/gap/Morphisms.gi
  ComplexesCategories/gap/Objects.gi
Due: ComplexesCategories

ComplexesCategories: cleanup: TextAttr, TEXTMTRANSLATIONS, Range → Target, style
  ComplexesCategories/gap/Categories.gi
  ComplexesCategories/gap/HomStructure.gi
  ComplexesCategories/gap/Objects.gi
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

ComplexesCategories: update test
  ComplexesCategories/tst/test_homotopy_and_resolutions_operations.tst
Due: ComplexesCategories

TriangulatedCategories: add Julia comment markers
  TriangulatedCategories/gap/CategoryOfTriangles.gd
  TriangulatedCategories/gap/Functors.gd
Due: TriangulatedCategories

TriangulatedCategories: InstallValue → BindGlobal; remove DeclareGlobalVariable
  TriangulatedCategories/gap/MethodRecord.gd
  TriangulatedCategories/gap/MethodRecord.gi
Due: TriangulatedCategories

TriangulatedCategories: IsTriangulatedCategory → IsCapCategory
  TriangulatedCategories/gap/CategoryOfTriangles.gd
  TriangulatedCategories/gap/Functors.gd
  TriangulatedCategories/gap/Functors.gi
Due: TriangulatedCategories

TriangulatedCategories: refactor CategoryOfTriangles; FunctionWithNamedArguments; DefiningTripleOfMorphisms
  TriangulatedCategories/gap/CategoryOfTriangles.gd
  TriangulatedCategories/gap/CategoryOfTriangles.gi
  TriangulatedCategories/gap/Functors.gi
Due: TriangulatedCategories

TriangulatedCategories: Range → Target; fix typo; lambda spacing
  TriangulatedCategories/gap/DerivedMethods.gi
  TriangulatedCategories/gap/Functors.gi
Due: TriangulatedCategories

Bicomplexes: TEXTMTRANSLATIONS → unicode literals
  Bicomplexes/gap/Bicomplexes.gi
Due: Bicomplexes

HomotopyCategories: add Julia comment markers
  HomotopyCategories/gap/Morphisms.gd
  HomotopyCategories/gap/Objects.gd
Due: HomotopyCategories

HomotopyCategories: unconditional loading; remove OnlyWithFunctorCategories; add dep
  HomotopyCategories/PackageInfo.g
  HomotopyCategories/gap/OnlyWithFunctorCategories.gd
  HomotopyCategories/gap/OnlyWithFunctorCategories.gi
  HomotopyCategories/init.g
  HomotopyCategories/read.g
Due: HomotopyCategories

HomotopyCategories: replace ValueGlobal with direct refs
  HomotopyCategories/gap/HomStructure.gi
Due: HomotopyCategories

HomotopyCategories: use CallFuncListAtRuntime for constructors
  HomotopyCategories/gap/HomStructure.gi
  HomotopyCategories/gap/Objects.gi
  HomotopyCategories/gap/OnlyWithAlgebroids.gi
  HomotopyCategories/gap/StrongExceptionalSequences.gi
Due: HomotopyCategories

ComplexesCategories: use CallFuncListAtRuntime in Resolutions.gi for Julia compatibility
  ComplexesCategories/gap/Resolutions.gi
Due: ComplexesCategories

Support 'overhead' named arg in ComplexesCategories, HomotopyCategories, DerivedCategories
  ComplexesCategories/gap/Categories.gi
  DerivedCategories/gap/DerivedCategories.gi
  HomotopyCategories/gap/Categories.gi
Due: ComplexesCategories, DerivedCategories, HomotopyCategories
